@model SuccessHotelierHub.Models.PackageVM
@using SuccessHotelierHub.Utility
@{
    ViewBag.Title = "Create Package";
}

<section class="content-header">
    <h1>
        Package <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Package</li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Package Details</h3>
        </div>
        @using (Html.BeginForm("Create", "Package", FormMethod.Post, new { id = "frmPackage", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="Price">Price (&euro;)</label>
                        @Html.TextBoxFor(m => m.Price,  new { @class = "form-control", placeholder = "Price", onkeypress = "onlyNumeric(event)", value= "0.00" })           
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })             
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.CalculationRatioId)
                        @Html.DropDownListFor(m => m.CalculationRatioId,
                                new SelectList((IEnumerable<SelectListItem>)ViewBag.CalculationRatioList, "Value", "Text"),
                                "--Select Calculation Ratio--",
                                new { @class = "form-control" })                        
                    </div>
                    <div class="col-md-4 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked" })
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return savePackage();">Save</button>
                <a href="@Url.Action("List", "Package")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validatePackage() {

        var errorMessage = "";
        var blnValid = true;


        if ($("#frmPackage").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function savePackage() {

        if (validatePackage()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Package/Create")',
                type: 'POST',
                data: $('#frmPackage').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Package details saved successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            redirectTo('@Url.Content("~/Package/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>
