@model SuccessHotelierHub.Models.SearchUserRoleParametersVM
@{
    ViewBag.Title = "Search User Role";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "UserRoleGrid";
}

<section class="content-header">
    <h1>
        User Role <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">User Role</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search User Role</h3>
            <div class="pull-right box-tools">
                <a href="@Url.Action("Create","UserRole")"
                   class="btn btn-info btn-sm" style="color: #fff">Add User Role</a>
            </div>
        </div>
        <form class="frmUserRoleList" enctype="multipart/form-data" method="post">
            <div class="box-body box-body-list">
                <div class="pt_10 pl_10 pr_10 searchBox_Border">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Code)
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                        </div>
                        <div class="col-md-3 form-group mt_25">
                            <button type="button" id="btnSearch" class="btn btn-success m-r-xs" onclick="searchUserRole()">Search</button>
                            <button type="button" id="btnClear" class="btn btn-danger" onclick="clearUserRole()">Clear</button>
                        </div>                        
                    </div>
                </div>



                <div class="col-xs-12 padding-zero m-t-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblUserRole">
                            <thead>
                                <tr>
                                    <th class="width_10"></th>
                                    <th class="width_20">Code</th>
                                    <th class="width_20">Name</th>
                                    <th class="width_20">Description</th>
                                    <th class="width_10">Status</th>
                                    <th class="width_20">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-left">
                        @Html.Partial("_Pagination", new SuccessHotelierHub.Models.PaginationVM() { TokenForEnableDisableButtons = PagerName, PageChangeMethod = "UserRoleGridPageChange" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">
    var currentPage = 1;
    var grdUserRole;

    $(document).ready(function () {
        setTimeout(InitializeUserRoleGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
    });


    function SearchUserRoleParameters(d) {
        var name = $('#Name').val();
        var code = $('#Code').val();
        var description = $('#Description').val();

        d.PageNum = currentPage;
        d.Name = name;
        d.Code = code;
        d.Description = description;
    }

    function UserRoleGridDataBound(response) {
        if (response.IsSuccess == true) {
            @("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);
            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadUserRoleGrid() {
        grdUserRole.ajax.url("@Url.Content("~/UserRole/Search")").load();
    }

    function UserRoleGridPageChange(cPage) {
        currentPage = cPage;
        ReloadUserRoleGrid();
    }


    function InitializeUserRoleGrid() {
        grdUserRole = $('#tblUserRole').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/UserRole/Search")',
                data: SearchUserRoleParameters,
                dataSrc: UserRoleGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: true,
                "visible": false
            },
            {
                targets: 1,
                data: "Code",
                orderable: true
            },
            {
                targets: 2,
                data: "Name",
                orderable: true
            },
            {
                targets: 3,
                data: "Description",
                orderable: false
            },
            {
                targets: 4,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 5,
                data: "Id",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoUserRoleEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs m-r-xs">Edit</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs"'
                        + ' onclick="deleteUserRole(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[2, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoUserRoleEdit(Id) {
        var url = '@Url.Content("~/UserRole/Edit/")' + Id;
        redirectTo(url);
    }

    function searchUserRole() {
        currentPage = 1;
        ReloadUserRoleGrid();
    }

    function clearUserRole() {
        $('#Name').val('');
        $('#Code').val('');
        $('#Description').val('');

        searchUserRole();
    }

    function deleteUserRole(item, e, id) {

        swal({
            title: 'Are you sure you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (result) {
                        showToaster(result.responseText, ToasterType.ERROR);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/UserRole/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {

                            var tr = $('#tblUserRole  tbody tr#' + id)
                            var row = grdUserRole.row(tr);
                            var rowNode = row.node();
                            row.remove();
                            grdUserRole.draw();

                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        });


    }
</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}