@model SuccessHotelierHub.Models.SearchAdvanceRoomTypeParametersVM
@using SuccessHotelierHub.Models
@{
    var sourceRedirectionParam = "";

    sourceRedirectionParam = (string)ViewData["Source"];

    var rateTypeList = (List<SelectListItem>)ViewData["RateType"];
}

<form id="frmAdvanceRoomTypeSearch" name="frmAdvanceRoomTypeSearch" enctype="multipart/form-data" method="post">
    <div class="row">
        @*<div class="pt_10 pl_10 pr_10 searchBox_Border">*@
        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
            @Html.LabelFor(m => m.RateTypeId)
            @Html.DropDownListFor(m => m.RateTypeId,
                                (IEnumerable<SelectListItem>)rateTypeList, "-- Select Rate Type --",
                                htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group">
            @Html.LabelFor(m => m.ArrivalDate)
            <div class="input-group date">
                @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 form-group">
            @Html.LabelFor(m => m.NoOfNight)
            @Html.TextBoxFor(m => m.NoOfNight, new { @class = "form-control", placeholder = "1", onkeydown = "onlyDigits(event)" })
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group">
            @Html.LabelFor(m => m.DepartureDate)
            <div class="input-group date">
                @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>

        @*</div>*@        
    </div>

    <div class="row">
        <div class="col-md-4 m-b-md text-center m-t-md">
            <button type="button" class="btn btn-success m-r-xs" id="btnSearch" onclick="searchRoomType()">Search</button>
            <button type="button" class="btn btn-danger" id="btnClear" onclick="clearRoomTypeSearch()">Clear</button>
        </div>
    </div>



    <div class="table-responsive m-t-md" style="min-height:225px; height:225px;">
        <table class="table table-bordered table-hover table-striped" id="tblRoomType">
            <thead>
                <tr>
                    <th></th>
                    <th>Room Type</th>
                    <th>Available Rooms</th>
                    <th>Description</th>
                    <th>Room Capacity</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="col-xs-12 text-right m-b-md padding-zero">
        <hr class="hr_margin" />
        <button type="button" class="btn btn-primary m-r-xs btnAdvanceSearchRoomTypeOk">Ok</button>                    
        <button type="button" class="btn btn-danger m-r-xs" data-dismiss="modal">Close</button>
    </div>
</form>



<div class="clearfix"></div>

<script type="text/javascript">
    function searchRoomType() {
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (result) {
                showToaster(result.responseText, ToasterType.ERROR);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/RoomType/SearchAdvanceRoomType")',
            type: 'POST',
            data: $('#frmAdvanceRoomTypeSearch').serialize(),
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    //Show data in table.
                    var result = response.data;

                    $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody").empty();
                    var tbody = $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody");

                    var markup = "";

                    if (result.length > 0) {
                        //Add the data rows.
                        for (var i = 0; i < result.length; i++) {
                            markup += "<tr>";

                            markup += "<td><input type=\'radio\' class=\'cursor-P\' id=\'rbRoomType_" + result[i].Id + "\' name=\'rbRoomType\' value=\'" + result[i].Id + "\'  data-roomtype=\'" + result[i].RoomTypeCode + "\'  data-roomtypeid=\'" + result[i].RoomTypeId + "\'/></td>";
                            markup += "<td>" + result[i].RoomTypeCode + "</td>";
                            markup += "<td>" + result[i].AvailableRooms + "</td>";
                            markup += "<td>" + result[i].RoomTypeDescription + "</td>";
                            markup += "<td>" + result[i].RoomCapacity + "</td>";

                            markup += "</tr>";
                        }
                    } else {
                        markup += "<tr><td colspan =\'5\' class=\'text-center\'>No data available.</td></tr>";
                    }

                    tbody.append(markup);
                }
            }
        });
    }

    function clearRoomTypeSearch() {
        $('form#frmAdvanceRoomTypeSearch #RateTypeId').val('');
        $('form#frmAdvanceRoomTypeSearch #ArrivalDate').val('');
        $('form#frmAdvanceRoomTypeSearch #NoOfNight').val('');
        $('form#frmAdvanceRoomTypeSearch #DepartureDate').val('');

        $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody").empty();
    }


   

</script>
