@model SuccessHotelierHub.Models.SearchAdvanceRoomTypeParametersVM
@using SuccessHotelierHub.Models
@{
    var sourceRedirectionParam = "";

    sourceRedirectionParam = (string)ViewData["Source"];

    var rateTypeList = (List<SelectListItem>)ViewData["RateType"];
}

<form id="frmAdvanceRoomTypeSearch" name="frmAdvanceRoomTypeSearch" enctype="multipart/form-data" method="post">
     <div class="pt_10 pl_10 pr_10 col-xs-12 searchBox_Border">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.RateTypeId)
                @Html.DropDownListFor(m => m.RateTypeId,
                                (IEnumerable<SelectListItem>)rateTypeList, "-- Select Rate Type --",
                                htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-3 col-xs-12 form-group">
                @Html.LabelFor(m => m.ArrivalDate)
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12 form-group">
                @Html.LabelFor(m => m.NoOfNight)
                @Html.TextBoxFor(m => m.NoOfNight, new { @class = "form-control", placeholder = "1", onkeydown = "onlyDigits(event)" })
            </div>
            <div class="col-md-3 col-xs-12 form-group">
                @Html.LabelFor(m => m.DepartureDate)
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 form-group">
                @Html.LabelFor(m => m.RoomTypeCode)
                @Html.TextBoxFor(m => m.RoomTypeCode, new { @class = "form-control", placeholder = "Room Type Code"})
            </div>
            <div class="col-md-5 col-xs-12 form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "1"})
            </div>
            <div class="col-md-2 col-xs-12 form-group">
                @Html.LabelFor(m => m.AvailableRooms)
                @Html.TextBoxFor(m => m.AvailableRooms, new { @class = "form-control", placeholder = "Available Rooms", onkeydown = "onlyDigits(event)" })
            </div>
            <div class="col-md-2 col-xs-12 form-group">
                @Html.LabelFor(m => m.RoomCapacity)
                @Html.TextBoxFor(m => m.RoomCapacity, new { @class = "form-control", placeholder = "Room Capacity", onkeydown = "onlyDigits(event)" })
            </div>
        </div>

         <div class="row">
             <div class="col-md-12 m-b-sm text-right m-t-xs">
                 <button type="button" class="btn btn-success m-r-xs" id="btnSearch" onclick="searchRoomType()">Search</button>
                 <button type="button" class="btn btn-danger" id="btnClear" onclick="clearRoomTypeSearch()">Clear</button>
             </div>
         </div>
    </div>

    <div class="col-xs-12 text-right m-t-sm m-b-sm padding-zero">
        <button type="button" class="btn btn-primary m-r-xs btnAdvanceSearchRoomTypeOk">OK</button>
        <button type="button" class="btn btn-danger m-r-xs" data-dismiss="modal">Close</button>
    </div>

    <div class="col-xs-12 m-b-md padding-zero">
        <div class="table-responsive m-t-md table_maxheight">
            <table class="table table-bordered table-hover table-striped cursor-P" id="tblRoomType">
                <thead>
                    <tr>
                        <th></th>
                        <th>Room Type</th>
                        <th>Available Rooms</th>
                        <th>Description</th>
                        <th>Room Capacity</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>



<div class="clearfix"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $("form#frmAdvanceRoomTypeSearch select").change(function () {
            searchRoomType();
        });

        $("form#frmAdvanceRoomTypeSearch input").blur(function () {
            if (!IsNullOrEmpty($(this).val())) {
                searchRoomType();
            }
        });
    });

    function onSelectRoomType(element) {
        $(element).parent("tr").find("td:first").find("input[type='radio']").prop("checked", true);
    }

    function searchRoomType() {
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (result) {
                showToaster(result.responseText, ToasterType.ERROR);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/RoomType/SearchAdvanceRoomType")',
            type: 'POST',
            data: $('#frmAdvanceRoomTypeSearch').serialize(),
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    //Show data in table.
                    var result = response.data;

                    $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody").empty();
                    var tbody = $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody");

                    var markup = "";

                    if (result.length > 0) {
                        //Add the data rows.
                        for (var i = 0; i < result.length; i++) {
                            markup += "<tr>";

                            markup += "<td class=\'text-center\'><label class=\'container_radio\'><input type=\'radio\' class=\'cursor-P\' id=\'rbRoomType_" + result[i].Id + "\' name=\'rbRoomType\' value=\'" + result[i].RoomTypeId + "\'  data-roomtype=\'" + result[i].RoomTypeCode + "\'  data-roomtypeid=\'" + result[i].RoomTypeId + "\'/> <span class=\'checkmark_radio\'></span></label></td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomTypeCode + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].AvailableRooms + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomTypeDescription + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomCapacity + "</td>";

                            markup += "</tr>";
                        }
                    } else {
                        markup += "<tr><td colspan =\'5\' class=\'text-center\'>No data available.</td></tr>";
                    }

                    tbody.append(markup);
                }
            }
        });
    }

    function clearRoomTypeSearch() {
        $('form#frmAdvanceRoomTypeSearch #RateTypeId').val('');
        $('form#frmAdvanceRoomTypeSearch #ArrivalDate').val('');
        $('form#frmAdvanceRoomTypeSearch #NoOfNight').val('');
        $('form#frmAdvanceRoomTypeSearch #DepartureDate').val('');
        $('form#frmAdvanceRoomTypeSearch #RoomTypeCode').val('');
        $('form#frmAdvanceRoomTypeSearch #Description').val('');
        $('form#frmAdvanceRoomTypeSearch #AvailableRooms').val('');
        $('form#frmAdvanceRoomTypeSearch #RoomCapacity').val('');

        $("form#frmAdvanceRoomTypeSearch #tblRoomType tbody").empty();
    }

</script>
