@model SuccessHotelierHub.Models.TitleVM
@{
    ViewBag.Title = "Create Title";
}

<section class="content-header">
    <h1>
        Title <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Title</li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Title Details</h3>
        </div>
        @using (Html.BeginForm("Create", "Title", FormMethod.Post, new { id = "frmTitle", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Title, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Salutation)
                        @Html.TextAreaFor(m => m.Salutation, new { @class = "form-control", row ="3", placeholder = "Salutation" })                        
                    </div>
                    <div class="col-md-4 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked" })
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveTitle();">Save</button>
                <a href="@Url.Action("List", "Title")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateTitle() {

        var errorMessage = "";
        var blnValid = true;


        if ($("#frmTitle").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function saveTitle() {

        if (validateTitle()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Title/Create")',
                type: 'POST',
                data: $('#frmTitle').serialize(),
                success: function (response) {                    
                    if (!IsNullOrEmpty(response)) {
                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {
                            showToaster("Title details saved successfully", ToasterType.SUCCESS);

                            setTimeout(function () {
                                redirectTo('@Url.Content("~/Title/List")');
                            }, 1000);
                        }
                    }
                }
            });
            return false;
        }
    }
</script>
