<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>TSHB</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Training For Success Hotelier Hub</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <ul class="nav navbar-nav">
            <li class="active text-center topMenu" id="menuDashboard">
                <a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');">
                    <i class="fa fa-th font_20 m-b-xs"></i><br /> Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            @*<li class="text-center topMenu" id="menuProfile">
                <a href="javascript:void(0);" onclick="setCurrentMenu('Profile','@Url.Content("~/Profile/IndividualProfileList")');">
                    <i class="fa fa-user font_20 m-b-xs" aria-hidden="true"></i><br /> Profile
                </a>
            </li>*@
            <li class="text-center topMenu" id="menuReservation">
                <a href="javascript:void(0);" onclick="setCurrentMenu('Reservation','@Url.Content("~/Reservation/List")');">
                    <i class="fa fa-ticket font_20 m-b-xs" aria-hidden="true"></i><br /> Reservations
                </a>
            </li>
            <li class="text-center topMenu" id="menuFrontDesk">
                <a href="javascript:void(0);"  onclick="setCurrentMenu('FrontDesk','@Url.Content("~/FrontDesk/CheckIn")');">
                    <i class="fa fa-building-o font_20 m-b-xs" aria-hidden="true"></i><br /> Front Desk
                </a>
            </li>
            <li class="text-center topMenu" id="menuMasterScreen">
                <a href="javascript:void(0);" onclick="setCurrentMenu('MasterScreen','@Url.Content("~/Preference/List")');">
                    <i class="fa fa-cc-mastercard font_20 m-b-xs" aria-hidden="true"></i><br /> Master Screens
                </a>
            </li>
        </ul>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle p-22" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/Content/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden_xs">Admin</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            @*<div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>*@
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>