<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Admin</p>
                @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree leftsidemenu" id="MenusDashboard" data-widget="tree" style="display:block;">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home </a>
            </li>
        </ul>

        @*<ul class="sidebar-menu tree leftsidemenu" id="MenusProfile" data-widget="tree" style="display:none;">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> Individual Profile
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("CreateIndividualProfile","Profile")"><i class="fa fa-circle-o"></i> Create </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IndividualProfileList","Profile")"><i class="fa fa-circle-o"></i> Search </a>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Company","Profile")"><i class="fa fa-building"></i>Company (Design)</a></li>
        </ul>*@

        <ul class="sidebar-menu tree leftsidemenu" id="MenusReservation" data-widget="tree" style="display:none;">            
            <li><a href="@Url.Action("RateQuery","Reservation")"><i class="fa fa-ticket "></i>New Reservation</a></li>
            <li><a href="@Url.Action("List","Reservation")"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>Update Reservation</a></li>            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> Profiles 
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> Individual Profile
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("CreateIndividualProfile","Profile")"><i class="fa fa-pencil-square-o"></i> Create </a>
                            </li>
                            <li>
                                <a href="@Url.Action("IndividualProfileList","Profile")"><i class="fa fa-search"></i> Search </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Company","Profile")"><i class="fa fa-building"></i>Company (Design)</a></li>
                </ul>
            </li>                        
            <li><a href="#"><i class="fa fa-group"></i>Groups *</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Calendar *</a></li>
            <li><a href="#"><i class="fa fa-building-o"></i>Floor Plan *</a></li>
            <li><a href="#"><i class="fa fa-bed"></i>Room Plan *</a></li>
            <li><a href="#"><i class="fa fa-users"></i>Conference Allotments *</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Conference Plan *</a></li>
            <li><a href="#"><i class="fa fa-user-md"></i>Guest History *</a></li>
            
        </ul>

        <ul class="sidebar-menu tree leftsidemenu" id="MenusFrontDesk" data-widget="tree" style="display:none;">
            <li><a href="@Url.Action("CheckIn","FrontDesk")"><i class="fa fa-check-square-o" aria-hidden="true"></i>Check In (Design) *</a></li>
            <li><a href="#"><i class="fa fa-fighter-jet"></i>Arrivals *</a></li>
        </ul>

        <ul class="sidebar-menu tree leftsidemenu" id="MenusMasterScreens" data-widget="tree" style="display:none;">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group" aria-hidden="true"></i> Preference Group
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","PreferenceGroup")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","PreferenceGroup")"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i> Preference
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","Preference")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","Preference")"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Rate Type
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","RateType")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","RateType")"><i class="fa fa-search"></i> Search</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bed" aria-hidden="true"></i> Room Type
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","RoomType")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","RoomType")"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Room")">
                    <i class="fa fa-bed" aria-hidden="true"></i> Room
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-star-half-o" aria-hidden="true"></i> Rate
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","Rate")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","Rate")"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i> Cancellation Reason
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","ReservationCancellationReason")"><i class="fa fa-pencil-square-o"></i> Create </a></li>
                    <li><a href="@Url.Action("List","ReservationCancellationReason")"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </li>
        </ul>


        @*<ul class="sidebar-menu tree" data-widget="tree">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-th"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Profile</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Individual Profile
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("CreateIndividualProfile","Profile")"><i class="fa fa-circle-o"></i> Create </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IndividualProfileList","Profile")"><i class="fa fa-circle-o"></i> Search </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Company","Profile")"><i class="fa fa-circle-o"></i>Company (Design)</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Reservation</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("RateQuery","Reservation")"><i class="fa fa-circle-o"></i>Rate Query</a></li>
                        <li><a href="@Url.Action("List","Reservation")"><i class="fa fa-circle-o"></i>Search Reservation</a></li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Front Desk</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("CheckIn","FrontDesk")"><i class="fa fa-circle-o"></i>Check In (Design)</a></li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Master Screens</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Preference
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create","Preference")"><i class="fa fa-circle-o"></i> Create </a></li>
                                <li><a href="@Url.Action("List","Preference")"><i class="fa fa-circle-o"></i> Search </a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Rate Type
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create","RateType")"><i class="fa fa-circle-o"></i> Create </a></li>
                                <li><a href="@Url.Action("List","RateType")"><i class="fa fa-circle-o"></i> Search</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Room Type
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create","RoomType")"><i class="fa fa-circle-o"></i> Create </a></li>
                                <li><a href="@Url.Action("List","RoomType")"><i class="fa fa-circle-o"></i> Search </a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Rate
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create","Rate")"><i class="fa fa-circle-o"></i> Create </a></li>
                                <li><a href="@Url.Action("List","Rate")"><i class="fa fa-circle-o"></i> Search </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>*@
    </section>
    <!-- /.sidebar -->
</aside>
