@using SuccessHotelierHub.Utility
@{
    ViewBag.Title = "Index";

    var currentMonthNo = DateTime.Now.Month;
    var currentYear = DateTime.Now.Year;

    var monthName = Utility.GetShortMonthName(currentMonthNo);

    var IsAdminUser = LogInManager.HasRights("ADMIN");
}

<style type="text/css">
    #tblCalendar {
        border-collapse: initial !important;
    }

        #tblCalendar td {
            /*padding:20px;*/
            text-align: center;
            vertical-align: top;
        }

    .currentDay {
        /*background-color:#f5f5f5;*/
        border: 1px solid #3B3EF1 !important;
        border-collapse: initial;
    }

    .clickableDate {
        cursor: pointer !important;
        width: 100px;
        word-break: break-word;
    }

    .popover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;
      display: none;
      max-width: 600px;
      padding: 1px;
      text-align: left;
      white-space: normal;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
         -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding;
              background-clip: padding-box;
}
</style>


<section class="content-header">
    <h1>
        Calendar <small>View</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Calendar</li>
        <li class="active">View</li>
    </ol>
</section>


<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Property Calendar Details</h3>
        </div>
        <form class="frmCalendar" id="frmCalendar" name="frmCalendar"
              nctype="multipart/form-data" method="post">
            <!-- HIDDEN FIELD -->
            <input type="hidden" id="hdnPrevYear" name="hdnPrevYear" value="@(currentYear - 1)" />
            <input type="hidden" id="hdnNextYear" name="hdnNextYear" value="@(currentYear + 1)" />
            <input type="hidden" id="hdnYear" name="hdnYear" value="@(currentYear)" />
            <input type="hidden" id="hdnMonthNo" name="hdnMonthNo" value="@(currentMonthNo)" />
            <!-- HIDDEN FIELD -->


            <div class="box-body box-body-list">
                <div class="pt_10 pl_10 pr_10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tblCalendarHeader">
                                    <tr>
                                        <td colspan="12" class="text-center">
                                            <span id="spnMonthAndYear">@monthName @currentYear</span>
                                        </td>
                                        <td colspan="2" class="text-center">
                                            Year
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" data-monthno="1">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(1);">Jan</a>
                                        </td>
                                        <td class="text-center" data-monthno="2">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(2);">Feb</a>
                                        </td>
                                        <td class="text-center" data-monthno="3">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(3);">Mar</a>
                                        </td>
                                        <td class="text-center" data-monthno="4">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(4);">Apr</a>
                                        </td>
                                        <td class="text-center" data-monthno="5">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(5);">May</a>
                                        </td>
                                        <td class="text-center" data-monthno="6">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(6);">Jun</a>
                                        </td>
                                        <td class="text-center" data-monthno="7">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(7);">Jul</a>
                                        </td>
                                        <td class="text-center" data-monthno="8">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(8);">Aug</a>
                                        </td>
                                        <td class="text-center" data-monthno="9">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(9);">Sep</a>
                                        </td>
                                        <td class="text-center" data-monthno="10">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(10);">Oct</a>
                                        </td>
                                        <td class="text-center" data-monthno="11">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(11);">Nov</a>
                                        </td>
                                        <td class="text-center" data-monthno="12">
                                            <a href="javascript:void(0);" onclick="ShowMonthCalendar(12);">Dec</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" title="Prev"><i class="fa fa-angle-left next_prev_btn" onclick="ShowPrevYearCalendar();"></i></a>

                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" title="Next"><i class="fa fa-angle-right next_prev_btn" onclick="ShowNextYearCalendar();"></i></a>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="divCalendar">

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Calendar Notes Modal START -->
<div id="calendarNotesModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Notes</h4>
            </div>
            <div class="modal-body modal-body_padding" id="divCalendarNotes">
                <form id="frmCalendarNotes" name="frmCalendarNotes" enctype="multipart/form-data">
                    <!-- HIDDEN FIELD-->
                    <input type="hidden" id="Date" name="Date" value="" />
                    <input type="hidden" id="Id" name="Id" value="" />
                    <input type="hidden" id="SelectedBoxId" name="SelectedBoxId" value="" />
                    <!-- HIDDEN FIELD-->
                    <div class="row">
                        <div class="col-md-6">
                            <label for="DisplayDate" class="required-label">Date : <span id="DisplayDate"></span></label>
                        </div>
                        <div class="col-md-6">
                            <input type="button" class="pull-right btn btn-sm btn-warning btnDeleteNotes" id="btnDeleteNotes" value="Delete" onclick="DeleteCalendarNotes();" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="Notes" class="required-label">Notes</label>
                            <textarea id="Notes" name="Notes" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input type="button" class="btn btn-sm btn-success m-r-sm btnSaveNotes" id="btnSaveNotes"
                                   value="Save" onclick="saveNotes();" />
                            <input type="button" class="btn btn-sm btn-danger btnCancelNotes" id="btnCancelNotes" value="Cancel" data-dismiss="modal" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- Calendar Notes Modal END -->

<script type="text/javascript">
    $(document).ready(function () {
        $("table#tblCalendarHeader tr td[data-monthno='@currentMonthNo'").addClass("label-bold");

        //Load Calendar
        loadCalendar('@currentYear', '@currentMonthNo', true);

        //Bind click event of calendar date.
        BindClickableCalendarDateEvent();

    });

    function BindClickableCalendarDateEvent() {
        var isAdmin =  ('@IsAdminUser');

        //Bind Click event only for admin users.
        if (isAdmin) {
            $("table#tblCalendar td.clickableDate").click(function (e) {                
                var date = $(this).attr("data-date");
                var displayDate = $(this).attr("data-displaydate");
                var notes = $(this).attr("data-notes");
                var notesId = $(this).attr("data-notesid");

                var selectedId = $(this).attr("id");

                console.log("Date : " + date);

                clearCalendarNotesForm();

                $('form#frmCalendarNotes #DisplayDate').html(displayDate);
                $('form#frmCalendarNotes #Date').val(date);
                $('form#frmCalendarNotes #Id').val(notesId);
                $('form#frmCalendarNotes #Notes').val(notes);
                $('form#frmCalendarNotes #SelectedBoxId').val(selectedId);

                if (!IsNullOrEmpty(notesId)) {
                    $('form#frmCalendarNotes #btnDeleteNotes').show();
                } else {
                    $('form#frmCalendarNotes #btnDeleteNotes').hide();
                }

                //Open Form to Add / Edit Notes.
                OpenModal("calendarNotesModal");
            });
        }
    }


    function ShowPrevYearCalendar() {
        var year = $('#hdnPrevYear').val();
        var month = 1;

        loadCalendar(year, month, false);
    }

    function ShowNextYearCalendar() {
        var year = $('#hdnNextYear').val();
        var month = 1;

        loadCalendar(year, month, false);
    }

    function ShowMonthCalendar(monthNo) {
        var year = $('#hdnYear').val();
        var month = monthNo;

        loadCalendar(year, month, true);
    }

    function loadCalendar(year, month, isCurrentYear) {
        //Ajax Request to fetch Property Calendar.
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                ShowErrorMessage(jqXHR.status, errorThrown);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/PropertyCalendar/ShowCalendar")',
            type: 'POST',
            data: { year: year, month: month },
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    $('#divCalendar').html('');
                    $('#divCalendar').html(response);

                    //Remove bold label.
                    $("table#tblCalendarHeader tr td[data-monthno!='" + month + "']").removeClass("label-bold");

                    //Add bold label to current selected month.
                    $("table#tblCalendarHeader tr td[data-monthno='" + month + "']").addClass("label-bold");

                    var monthName = GetShortMonthName(month);

                    $('#spnMonthAndYear').html(monthName + Delimeter.SPACE + year);

                    if (isCurrentYear == false) {
                        //For Prev. & Next Years.
                        $('#hdnPrevYear').val(parseInt(year) - 1);
                        $('#hdnNextYear').val(parseInt(year) + 1);
                        $('#hdnYear').val(parseInt(year));
                        $('#hdnMonthNo').val(parseInt(month));
                    } else {
                        //For Current Year.
                        $('#hdnMonthNo').val(parseInt(month));
                    }

                    //Bind Click event of calendar date.
                    BindClickableCalendarDateEvent();

                    var options = {
                        placement: function (context, source) {
                            var position = $(source).position();

                            if (position.left > 515) {
                                return "left";
                            }

                            if (position.left < 515) {
                                return "right";
                            }

                            if (position.top < 110) {
                                return "bottom";
                            }

                            return "top";
                        },
                        trigger: "hover",
                        title : "Room Info",
                        content: fetchRoomInfo,                        
                        html: true
                    };

                    //Room Info
                    $('.availableRoom').popover(options);

                    //$('.availableRoom').popover({
                    //    trigger: "hover",
                    //    title : "Room Info",
                    //    content: fetchRoomInfo,                        
                    //    html: true,
                    //    placement: 'right'
                    //});

                    //Notes
                    $('.calendarNotes').popover({
                        trigger: "hover",                                                                       
                        placement: 'auto bottom'
                    });


                }
            }
        });
    }

function fetchRoomInfo() {
        var date = $(this).parent("td").data("date");            
        var fetch_room_info = '';

        if (!IsNullOrEmpty(date)) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/PropertyCalendar/GetAvailableRoomInfo")',
                data: { date: date },
                method: "GET",
                async: false,
                success: function (data) {                    
                    fetch_room_info = data;
                }
            });
        }
        return fetch_room_info;        
    }

    function clearCalendarNotesForm() {
        $('form#frmCalendarNotes #DisplayDate').html('');
        $('form#frmCalendarNotes #Date').val('');
        $('form#frmCalendarNotes #Id').val('');
        $('form#frmCalendarNotes #Notes').val('');
        $('form#frmCalendarNotes #SelectedBoxId').val('');
    }

    function validateNotes() {
        var notes = $('form#frmCalendarNotes #Notes').val();

        var blnValid = true;
        var errorText = "";

        if (IsNullOrEmpty(notes)) {
            errorText += "Please enter notes.";
            blnValid = false;
        }

        if (blnValid == false) {
            showToaster(errorText, ToasterType.ERROR);
            return false;
        }

        return blnValid;
    }
    function saveNotes() {
        if (validateNotes()) {
            var notesId = $('form#frmCalendarNotes #Id').val();

            if (IsNullOrEmpty(notesId)) {
                //Add Calendar Notes.
                AddCalendarNotes();
            } else {
                //Update Calendar Notes.
                UpdateCalendarNotes();
            }
        }
    }

    function AddCalendarNotes() {
        //Ajax request to add calendar notes.
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                ShowErrorMessage(jqXHR.status, errorThrown);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/PropertyCalendar/AddCalendarNotes")',
            type: 'POST',
            data: $("form#frmCalendarNotes").serialize(),
            success: function (response) {
                if (!IsNullOrEmpty(response)) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Notes added successfully.", ToasterType.SUCCESS);

                        var notesId = response.data.NotesId;

                        //Append notes.
                        AppendNotesDetails(notesId);

                        CloseModal("calendarNotesModal");
                    }
                }
            }
        });
    }

    function UpdateCalendarNotes() {
        //Ajax request to update calendar notes.
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                ShowErrorMessage(jqXHR.status, errorThrown);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/PropertyCalendar/EditCalendarNotes")',
            type: 'POST',
            data: $("form#frmCalendarNotes").serialize(),
            success: function (response) {
                if (!IsNullOrEmpty(response)) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Notes updated successfully.", ToasterType.SUCCESS);

                        var notesId = response.data.NotesId;

                        //Append notes.
                        AppendNotesDetails(notesId);

                        CloseModal("calendarNotesModal");
                    }
                }
            }
        });
    }

    function AppendNotesDetails(noteId) {

        //Append notes details.
        var selectedId = $('form#frmCalendarNotes #SelectedBoxId').val();
        var notes = $('form#frmCalendarNotes #Notes').val();
        var shortNotes = (!IsNullOrEmpty(notes) && notes.length >= 18) ? (notes.substring(0, 15) + "...") : notes;
        $("#" + selectedId + " p.calendarNotes").empty().html(shortNotes);
        //$("#" + selectedId + " p.calendarNotes").attr("title", notes);
        $("#" + selectedId + " p.calendarNotes").attr("data-content", notes);

        $("#" + selectedId + "").attr("data-notesid", noteId);
        $("#" + selectedId + "").attr("data-notes", notes);

        //Notes
        $("#" + selectedId + " p.calendarNotes").popover({
            trigger: "hover",            
            placement: 'bottom'
        });
    }

    function DeleteCalendarNotes() {        
        var notesId = $('form#frmCalendarNotes #Id').val();
        if (!IsNullOrEmpty(notesId)) {

            swal({
                title: 'Are you sure you want to delete?',
                type: 'warning',
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    //Ajax request to delete calendar notes.
                    $.ajax({
                        beforeSend: function (xhr) {
                            showLoader();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            ShowErrorMessage(jqXHR.status, errorThrown);
                        },
                        complete: function () {
                            hideLoader();
                        },
                        url: '@Url.Content("~/PropertyCalendar/Delete")',
                        type: 'POST',
                        data: { id: notesId },
                        success: function (response) {
                            if (!IsNullOrEmpty(response)) {
                                if (response.IsSuccess == false) {
                                    showToaster(response.errorMessage, ToasterType.ERROR);
                                }
                                else {
                                    showToaster("Notes deleted successfully.", ToasterType.SUCCESS);

                                    var notesId = response.data.NotesId;

                                    //Append notes.
                                    DeleteNotesDetails(notesId);

                                    CloseModal("calendarNotesModal");
                                }
                            }
                        }
                    });
                }
            });
        }
    }

    function DeleteNotesDetails(noteId) {        
        //Delete notes details.
        var selectedId = $('form#frmCalendarNotes #SelectedBoxId').val();
        $("#" + selectedId + " p.calendarNotes").empty();
        //$("#" + selectedId + " p.calendarNotes").attr("title", "");
        $("#" + selectedId + " p.calendarNotes").attr("data-content", "");

        $("#" + selectedId + "").attr("data-notesid", "");
        $("#" + selectedId + "").attr("data-notes", "");
    }
</script>
