@model SuccessHotelierHub.Models.SearchAddOnsParametersVM
@{
    ViewBag.Title = "Search Add Ons";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "AddOnsGrid";
}

<section class="content-header">
    <h1>
        Add Ons <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Add Ons</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Add Ons</h3>
            <div class="pull-right box-tools">
                <a href="@Url.Action("Create","AddOns")"
                   class="btn btn-info btn-sm" style="color: #fff">Add Add Ons</a>
            </div>
        </div>
        <form class="frmAddOnsList" enctype="multipart/form-data" method="post">
            <div class="box-body box-body-list">
                <div class="pt_10 pl_10 pr_10 searchBox_Border">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="Price">Price (&euro;)</label>
                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Price", onkeypress = "onlyNumeric(event)" })
                        </div>
                        <div class="col-md-2 form-group mt_25 text-right">
                            <button type="button" id="btnSearch" class="btn btn-success m-r-xs"
                                    onclick="searchAddOns()">
                                Search
                            </button>
                            <button type="button" id="btnClear" class="btn btn-danger"
                                    onclick="clearAddOns()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 padding-zero m-t-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblAddOns">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price (&euro;)</th>                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-left">
                        @Html.Partial("_Pagination", new SuccessHotelierHub.Models.PaginationVM() { TokenForEnableDisableButtons = PagerName, PageChangeMethod = "AddOnsGridPageChange" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">
    var currentPage = 1;
    var grdAddOns;

    $(document).ready(function () {
        setTimeout(InitializeAddOnsGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
    });


    function SearchAddOnsParameters(d) {
        var name = $('#Name').val();
        var description = $('#Description').val();
        var price = $('#Price').val();        

        d.PageNum = currentPage;
        d.Name = name;
        d.Description = description;
        d.Price = price;        
    }

    function AddOnsGridDataBound(response) {
        if (response.IsSuccess == true) {
            @("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);
            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadAddOnsGrid() {
        grdAddOns.ajax.url("@Url.Content("~/AddOns/Search")").load();
    }

    function AddOnsGridPageChange(cPage) {
        currentPage = cPage;
        ReloadAddOnsGrid();
    }


    function InitializeAddOnsGrid() {
        grdAddOns = $('#tblAddOns').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/AddOns/Search")',
                data: SearchAddOnsParameters,
                dataSrc: AddOnsGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: true,
                "visible": false
            },
            {
                targets: 1,
                data: "Name",
                orderable: true
            },
            {
                targets: 2,
                data: "Description",
                orderable: false,
            },
            {
                targets: 3,
                data: "Price",
                orderable: true,
                render: function (data, type, full, meta) {
                    return FormatNumberWithTwoDecimal(full.Price);
                }
            },            
            {
                targets: 4,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 5,
                data: "Id",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoAddOnsEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs m-r-xs">Edit</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs"'
                        + ' onclick="deleteAddOns(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[1, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoAddOnsEdit(Id) {
        var url = '@Url.Content("~/AddOns/Edit/")' + Id;
        redirectTo(url);
    }

    function searchAddOns() {
        currentPage = 1;
        ReloadAddOnsGrid();
    }

    function clearAddOns() {
        $('#Name').val('');
        $('#Description').val('');
        $('#Price').val('');        
        searchAddOns();
    }

    function deleteAddOns(item, e, id) {

        swal({
            title: 'Are you sure you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ShowErrorMessage(jqXHR.status, errorThrown);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/AddOns/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {

                            var tr = $('#tblAddOns  tbody tr#' + id)
                            var row = grdAddOns.row(tr);
                            var rowNode = row.node();
                            row.remove();
                            grdAddOns.draw();

                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        });


    }
</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}