@model SuccessHotelierHub.Models.PreferenceVM
@{
    ViewBag.Title = "Edit Preference";
}

<section class="content-header">
    <h1>
        Preference <small>Edit</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Preference</li>
        <li class="active">Edit</li>
    </ol>
</section>

<section class="content">    
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Preference Details</h3>
        </div>
        @using (Html.BeginForm("Edit", "Preference", FormMethod.Post, new { id = "frmPreference", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            
            <!--HIDDEN FIELD-->
            @Html.HiddenFor(m => m.Id)
            <!--HIDDEN FIELD-->

            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Preference" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-success m-r-xs" onclick="return updatePreference();">Update</button>
                <a href="@Url.Action("List", "Preference")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validatePreference() {
        //var code= $("#Code").val();
        //var description = $("#Description").val();

        var errorMessage = "";
        var blnValid = true;

        //if (IsNullOrEmpty(code)) {
        //    errorMessage += "Please enter code." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}
        //if (IsNullOrEmpty(description)) {
        //    errorMessage += "Please enter description." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}

        //if (!blnValid) {
        //    //showAlert(errorMessage, Alert.ERROR);
        //    showToaster(errorMessage, ToasterType.ERROR);
        //    return false;
        //}

        if ($("#frmPreference").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;



    }


    function updatePreference() {

        if (validatePreference()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    //showAlert(result.responseText, Alert.ERROR);
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Preference/Edit")',
                type: 'POST',
                data: $('#frmPreference').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        //showAlert(response.errorMessage, Alert.ERROR);
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        //showAlert("Preference details updated successfully.", Alert.SUCCESS);
                        showToaster("Preference details updated successfully", ToasterType.SUCCESS);
                        setTimeout(function () {
                            redirectTo('@Url.Content("~/Preference/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>


