@model SuccessHotelierHub.Models.SearchReservationCancellationReasonParametersVM
@{
    ViewBag.Title = "Search Reservation Cancellation Reason";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "ReservationCancellationReasonGrid";
}

<section class="content-header">
    <h1>
        Reservation Cancellation Reason <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Reservation Cancellation Reason</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Reservation Cancellation Reason</h3>
            <div class="pull-right box-tools m-r-md">
                <a href="@Url.Action("Create","ReservationCancellationReason")"
                   class="btn btn-info btn-sm" style="color: #fff">Add Cancellation Reason</a>
            </div>
        </div>
        <form class="frmPreferenceList" enctype="multipart/form-data" method="post">
            <div class="box-body">                
                <div class="col-xs-12 padding-zero">
                    <div class="col-md-4 col-sm-4 col-xs-12 padding_left padding-right-media form-group ">
                        @Html.LabelFor(m => m.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 padding_left padding-right-media form-group ">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 mt-23 mt-23-media padding_left padding-right-media form-group">
                        <button type="button" id="btnSearch" class="btn btn-success m-r-xs" 
                                onclick="searchReservationCancellationReason()">Search</button>
                        <button type="button" id="btnClear" class="btn btn-danger" 
                                onclick="clearReservationCancellationReason()">Clear</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 padding-zero m-t-sm">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblReservationCancellationReason">
                            <thead>
                                <tr>
                                    <th>CreatedOn</th>                                    
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-left">
                        @Html.Partial("_Pagination", new SuccessHotelierHub.Models.PaginationVM() { TokenForEnableDisableButtons = PagerName, PageChangeMethod = "ReservationCancellationReasonGridPageChange" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">

    var currentPage = 1;
    var grdReservationCancellationReason;

    $(document).ready(function () {
        setTimeout(InitializeReservationCancellationReasonGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
    });


    function SearchReservationCancellationReasonParameters(d) {
        var code =$('#Code').val();
        var description = $('#Description').val();

        d.PageNum = currentPage;
        d.Code = code;
        d.Description = description;
    }

    function ReservationCancellationReasonGridDataBound(response) {
        if (response.IsSuccess == true) {
            @("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);
            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadReservationCancellationReasonGrid() {
        grdReservationCancellationReason.ajax.url("@Url.Content("~/ReservationCancellationReason/Search")").load();
    }

    function ReservationCancellationReasonGridPageChange(cPage) {
        currentPage = cPage;
        ReloadReservationCancellationReasonGrid();
    }


    function InitializeReservationCancellationReasonGrid() {
        grdReservationCancellationReason = $('#tblReservationCancellationReason').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/ReservationCancellationReason/Search")',
                data: SearchReservationCancellationReasonParameters,
                dataSrc: ReservationCancellationReasonGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: true,
                "visible": false
            },            
            {
                targets: 1,
                data: "Code",
                orderable: true
            },
            {
                targets: 2,
                data: "Description",
                orderable: true
            },
            {
                targets: 3,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 4,
                data: "Id",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoReservationCancellationReasonEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs m-r-xs">Edit</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs"'
                        + ' onclick="deleteReservationCancellationReason(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[1, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoReservationCancellationReasonEdit(Id) {
        var url = '@Url.Content("~/ReservationCancellationReason/Edit/")' + Id;
        redirectTo(url);
    }

    function searchReservationCancellationReason() {
        currentPage = 1;
        ReloadReservationCancellationReasonGrid();
    }

    function clearReservationCancellationReason() {
        $('#Code').val('');
        $('#Description').val('');

        searchReservationCancellationReason();
    }

    function deleteReservationCancellationReason(item, e, id) {

        if (confirm("Are you sure do you want to delete ?")) {

            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/ReservationCancellationReason/Delete")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.IsSuccess == true) {

                        var tr = $('#tblReservationCancellationReason  tbody tr#' + id)
                        var row = grdReservationCancellationReason.row(tr);
                        var rowNode = row.node();
                        row.remove();
                        grdReservationCancellationReason.draw();
                        
                        showToaster("Record deleted successfully", ToasterType.SUCCESS);
                    }
                    else {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                }
            });
        }

    }
</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}