@model SuccessHotelierHub.Models.SearchAdvanceRoomParametersVM
@using SuccessHotelierHub.Models
@{
    var sourceRedirectionParam = "";

    sourceRedirectionParam = (string)ViewData["Source"];

    var roomTypeList = (List<SelectListItem>)ViewData["RoomType"];
    var roomFeaturesList = (List<RoomFeatureVM>)ViewData["RoomFeatures"];
}


<link href="~/Content/css/AdminLTE/select2/select2.css" rel="stylesheet" />
<link href="~/Content/css/AdminLTE/select2/select2-bootstrap.css" rel="stylesheet" />


<form id="frmAdvanceRoomSearch" name="frmAdvanceRoomSearch" enctype="multipart/form-data" method="post">

    <!-- Hidden Field -->
    <input type="hidden" id="hdnNoOfRoomsUptoSelect" name="hdnNoOfRoomsUptoSelect" />
    <input type="hidden" id="hdnSelectedRoomIds" name="hdnSelectedRoomIds" value="" />
    <input type="hidden" id="hdnSelectedRoomNumbers" name="hdnSelectedRoomNumbers" value="" />
    <!-- Hidden Field-->


    <div class="pt_10 pl_10 pr_10 searchBox_Border">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 form-group" id="divRoomType">
                    @Html.LabelFor(m => m.RoomTypeId)
                    @Html.DropDownListFor(m => m.RoomTypeId,
                                (IEnumerable<SelectListItem>)roomTypeList, "-- Select Room Type --",
                                htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-3 col-xs-12 form-group">
                    @Html.LabelFor(m => m.ArrivalDate)
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 form-group">
                    @Html.LabelFor(m => m.NoOfNight)
                    @Html.TextBoxFor(m => m.NoOfNight, new { @class = "form-control", placeholder = "1", onkeydown = "onlyDigits(event)" })
                </div>
                <div class="col-md-3 col-xs-12 form-group">
                    @Html.LabelFor(m => m.DepartureDate)
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>  
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12 form-group">
                    @Html.LabelFor(m => m.RoomNo)
                    @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Room #" })
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <label for="RoomFeatures">Select Room Features</label>
                    <select id="RoomFeatures" name="RoomFeatures" class="form-control" multiple>
                        @if (roomFeaturesList != null && roomFeaturesList.Count > 0)
                        {
                            foreach (var feature in roomFeaturesList)
                            {
                                <option value="@feature.Id">@feature.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3 m-b-sm text-right m-t-md">
                    <button type="button" class="btn btn-success m-r-xs" id="btnSearch" onclick="searchRoom()">Search</button>
                    <button type="button" class="btn btn-danger" id="btnClear" onclick="clearRoomSearch()">Clear</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       <div class="col-md-2 row">
           <div class="col-md-12 col-xs-12 form-group">
               <label class="container1" for="IsClean">
                   Clean
                   @Html.CheckBoxFor(m => m.IsClean, new { @checked = "checked" })
                   <span class="checkmark"></span>
               </label>
               <label class="container1" for="IsDirty">
                   Dirty
                   @Html.CheckBoxFor(m => m.IsDirty)
                   <span class="checkmark"></span>
               </label>
               <label class="container1" for="IsInspected">
                   Inspected
                   @Html.CheckBoxFor(m => m.IsInspected)
                   <span class="checkmark"></span>
               </label>
               <div class="clearfix"></div>
           </div>
       </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 text-right m-b-sm padding-zero m-t-sm">
        <button type="button" class="btn btn-primary m-r-xs btnAdvanceSearchRoomOk">OK</button>
        <button type="button" class="btn btn-danger m-r-xs" data-dismiss="modal">Close</button>
    </div>
    <div class="col-xs-12 padding-zero">
        <div class="table-responsive m-t-md table_maxheight">
            <table class="table table-bordered table-hover table-striped cursor-P" id="tblRoom">
                <thead>
                    <tr>
                        <th width="5%;"></th>
                        <th>Room#</th>                        
                        <th>Room Type</th>
                        <th>Features</th>
                        <th width="10%">Status</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>



<div class="clearfix"></div>

<script type="text/javascript">
    var selectedRooms = [];

    $(document).ready(function () {

        $("#RoomFeatures").select2({
            placeholder: "Search Features",
            allowClear: true
        });

        $("form#frmAdvanceRoomSearch select").change(function () {
            searchRoom();
        });

        $("form#frmAdvanceRoomSearch input").blur(function () {
            if (!IsNullOrEmpty($(this).val())) {
                searchRoom();
            }
        });
    });

    function BindCheckBoxRoomChangeEvent() {
        $(".chkRoom").change(function () {
            if (this.checked) {                
                selectedRooms.push($(this).attr("id"));

                checkRecentlySelectedRoomCheckbox();
            }
        });
    }

    function onSelectRoom(element) {
        var isChecked = $('#' + element).prop("checked");

        $('#' + element).prop("checked", !isChecked).trigger("change");
    }

    function checkRecentlySelectedRoomCheckbox() {
        var noOfRoomsUptoSelect = $('#hdnNoOfRoomsUptoSelect').val();

        if (selectedRooms != null && selectedRooms.length > 0) {
            if (selectedRooms.length >= noOfRoomsUptoSelect) {
                //Uncheck all the checkboxes.
                $('.chkRoom').prop("checked", false);

                var count = 0;
                for (i = selectedRooms.length - 1; i >= 0; i--) {
                    $('#' + selectedRooms[i]).prop("checked", true);
                    count = count + 1;

                    if (count == noOfRoomsUptoSelect) {
                        break;
                    }
                }
            }
        }
    }

    function searchRoom() {

        var selectedRoomIds = $('#hdnSelectedRoomIds').val();
        var selectedRoomIdsArr = [];
        if (!IsNullOrEmpty(selectedRoomIds)) {
            selectedRoomIdsArr = selectedRoomIds.split(Delimeter.COMMA);
        }

        //Clear array
        selectedRooms = [];

        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                ShowErrorMessage(jqXHR.status, errorThrown);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/Room/SearchAdvanceRoom")',
            type: 'POST',
            data: $('#frmAdvanceRoomSearch').serialize(),
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    //Show data in table.
                    var result = response.data;

                    $("form#frmAdvanceRoomSearch #tblRoom tbody").empty();
                    var tbody = $("form#frmAdvanceRoomSearch #tblRoom tbody");

                    var markup = "";

                    if (result.length > 0) {
                        //Add the data rows.
                        for (var i = 0; i < result.length; i++) {
                            markup += "<tr>";

                            var checked = "";
                            var statusColor = "#079438"
                            var statusName = "";
                            var reservationId = '';

                            if (!IsNullOrEmpty(result[i].RoomStatusColor)) {
                                statusColor = result[i].RoomStatusColor;
                            }

                            statusName = result[i].RoomStatusName;

                            if (selectedRoomIdsArr != null && selectedRoomIdsArr.length > 0) {
                                if (arrayContains(result[i].RoomId, selectedRoomIdsArr) == true) {
                                    checked = "checked";

                                    selectedRooms.push("chkRoom_" + result[i].RoomId);
                                }
                            }

                            reservationId = result[i].ReservationId;
                            
                            markup += "<td class=\'text-center\'><label class=\'container1\'><input type=\'checkbox\' class=\'chkRoom cursor-P\' id=\'chkRoom_" + result[i].RoomId + "\' name=\'chkRoom\' value=\'" + result[i].RoomId + "\'  data-roomno=\'" + result[i].RoomNo + "\'  data-roomid=\'" + result[i].RoomId + "\' " + checked + " data-roomstatus=\'" + statusName + "\' data-reservationid=\'" + reservationId + "\' /> <span class=\'checkmark\'></span></label></td>";
                            

                            markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\">" + result[i].RoomNo + "</td>";
                            markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\">" + result[i].RoomTypeCode + "</td>";

                            markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\">" + result[i].RoomFeatures + "</td>";
                            if (statusName != "Dirty") {
                                markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\"><span>" + result[i].RoomStatusName + "<i class=\'m-l-sm fa fa-circle\' style=\'color:" + statusColor + "\'> </i></span></td>";
                            } else {
                                markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\"><span>" + result[i].RoomStatusName + "<i class=\'m-l-sm fa fa-circle\' style=\'color:" + statusColor + "\'></i> <i class=\'fa fa-info-circle\' title=\'If you select dirty room then existing allocation will be removed.\' data-toggle=\'tooltip\' data-original-title=\'If you select dirty room then existing allocation will be removed.\'></i></span></td>";
                            }

                            markup += "<td onclick=\"onSelectRoom('chkRoom_" + result[i].RoomId + "');\">" + result[i].Description + "</td>";

                            markup += "</tr>";
                        }
                    } else {
                        markup += "<tr><td colspan =\'6\' class=\'text-center\'>No data available.</td></tr>";
                    }

                    tbody.append(markup);

                    BindCheckBoxRoomChangeEvent();
                }
            }
        });
    }

    function clearRoomSearch() {
        $('form#frmAdvanceRoomSearch #RoomTypeId').val('');
        $('form#frmAdvanceRoomSearch #ArrivalDate').val('');
        $('form#frmAdvanceRoomSearch #NoOfNight').val('');
        $('form#frmAdvanceRoomSearch #DepartureDate').val('');
        $('form#frmAdvanceRoomSearch #RoomNo').val('');
        $('form#frmAdvanceRoomSearch #Type').val('');
        $("form#frmAdvanceRoomSearch #RoomFeatures").select2("val", "");

        $("form#frmAdvanceRoomSearch #tblRoom tbody").empty();
    }

</script>

<script src="~/Scripts/AdminLTE/select2/select2.min.js"></script>
