@model SuccessHotelierHub.Models.SearchAdvanceRoomParametersVM
@using SuccessHotelierHub.Models
@{ 
    var sourceRedirectionParam = "";

    sourceRedirectionParam = (string)ViewData["Source"];

    var roomTypeList = (List<SelectListItem>)ViewData["RoomType"];
}

<form id="frmAdvanceRoomSearch" name="frmAdvanceRoomSearch" enctype="multipart/form-data" method="post">
    <div class="col-xs-12 text-right m-b-md padding-zero">
        <button type="button" class="btn btn-primary m-r-xs btnAdvanceSearchRoomOk">OK</button>
        <button type="button" class="btn btn-danger m-r-xs" data-dismiss="modal">Close</button>
    </div>

    <div class="pt_10 pl_10 pr_10 searchBox_Border">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.RoomTypeId)
                @Html.DropDownListFor(m => m.RoomTypeId,
                                (IEnumerable<SelectListItem>)roomTypeList, "-- Select Room Type --",
                                htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-3 col-xs-12 form-group">
                @Html.LabelFor(m => m.ArrivalDate)
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12 form-group">
                @Html.LabelFor(m => m.NoOfNight)
                @Html.TextBoxFor(m => m.NoOfNight, new { @class = "form-control", placeholder = "1", onkeydown = "onlyDigits(event)" })
            </div>
            <div class="col-md-3 col-xs-12 form-group">
                @Html.LabelFor(m => m.DepartureDate)
                <div class="input-group date">
                    @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control mydatepicker", placeholder = "dd/MM/yyyy" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.RoomNo)
                @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Room #" })
            </div>
            <div class="col-md-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.Type)
                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "Type" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 m-b-md text-right m-t-md">
            <button type="button" class="btn btn-success m-r-xs" id="btnSearch" onclick="searchRoom()">Search</button>
            <button type="button" class="btn btn-danger" id="btnClear" onclick="clearRoomSearch()">Clear</button>
        </div>
    </div>



    <div class="table-responsive m-t-md" style="min-height:225px; height:225px;">
        <table class="table table-bordered table-hover table-striped cursor-P" id="tblRoom">
            <thead>
                <tr>
                    <th></th>
                    <th>Room#</th>
                    <th>Type</th>
                    <th>Room Type</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="col-xs-12 text-right m-b-md padding-zero">
        <hr class="hr_margin" />
    </div>
</form>



<div class="clearfix"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $("form#frmAdvanceRoomSearch select").change(function () {
            searchRoom();
        });

        $("form#frmAdvanceRoomSearch input").blur(function () {
            if (!IsNullOrEmpty($(this).val())) {
                searchRoom();
            }
        });
    });

    function onSelectRoomType(element) {
        $(element).parent("tr").find("td:first").find("input[type='radio']").prop("checked", true);
    }

    function searchRoom() {
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (result) {
                showToaster(result.responseText, ToasterType.ERROR);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/Room/SearchAdvanceRoom")',
            type: 'POST',
            data: $('#frmAdvanceRoomSearch').serialize(),
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    //Show data in table.
                    var result = response.data;

                    $("form#frmAdvanceRoomSearch #tblRoom tbody").empty();
                    var tbody = $("form#frmAdvanceRoomSearch #tblRoom tbody");

                    var markup = "";

                    if (result.length > 0) {
                        //Add the data rows.
                        for (var i = 0; i < result.length; i++) {
                            markup += "<tr>";

                            markup += "<td><input type=\'radio\' class=\'cursor-P\' id=\'rbRoomType_" + result[i].Id + "\' name=\'rbRoomType\' value=\'" + result[i].RoomTypeId + "\'  data-roomtype=\'" + result[i].RoomTypeCode + "\'  data-roomtypeid=\'" + result[i].RoomTypeId + "\'/></td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomTypeCode + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].AvailableRooms + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomTypeDescription + "</td>";
                            markup += "<td onclick=\"onSelectRoomType(this);\">" + result[i].RoomCapacity + "</td>";

                            markup += "</tr>";
                        }
                    } else {
                        markup += "<tr><td colspan =\'5\' class=\'text-center\'>No data available.</td></tr>";
                    }

                    tbody.append(markup);
                }
            }
        });
    }

    function clearRoomSearch() {
        $('form#frmAdvanceRoomSearch #RoomTypeId').val('');
        $('form#frmAdvanceRoomSearch #ArrivalDate').val('');
        $('form#frmAdvanceRoomSearch #NoOfNight').val('');
        $('form#frmAdvanceRoomSearch #DepartureDate').val('');
        $('form#frmAdvanceRoomSearch #RoomNo').val('');
        $('form#frmAdvanceRoomSearch #Type').val('');

        $("form#frmAdvanceRoomSearch #tblRoom tbody").empty();
    }

</script>

