@using SuccessHotelierHub.Models
@{
    var roomList = (List<RoomVM>)ViewBag.RoomList;    
    var floorList = (List<FloorVM>)ViewBag.FloorList;
    var noOfRooms = (int)ViewBag.NoOfRooms;
    var index = 0;
}

@if (noOfRooms > 0)
{
    <input type="hidden" id="hdnTotalRooms" name="hdnTotalRooms" value="@roomList.Count" />

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="tblRoom">
            <thead>
                <tr>
                    <th width="10%">Room#</th>
                    <th width="15%">Floor</th>
                    <th width="10%">Type</th>
                    <th width="25%">Description</th>                    
                    <th width="10%">Is Active</th>
                    <th width="10%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in roomList)
                {
                    <tr>
                        <td>
                            <input type="text" id="@("txtRoomNo_" + index)" name="@("txtRoomNo_" + index)" class="form-control" value="@room.RoomNo" />
                        </td>
                        <td>
                            <select id="@("ddlFloor_" + index)" name="@("ddlFloor_" + index) " class='form-control'>
                                <option value="">--Select Floor--</option>
                                @foreach (var floor in floorList)
                                {
                                    if (room.FloorId == floor.Id)
                                    {
                                        <option value="@floor.Id" selected>@floor.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@floor.Id">@floor.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" id="@("txtRoomType_" + index)" name="@("txtRoomType_" + index)" class="form-control" value="@room.Type" />
                        </td>
                        
                        <td>
                            <textarea id="@("txtDescription_" + index)" name="@("txtDescription_" + index)" class="form-control" rows="1">@room.Description</textarea>
                        </td>
                        <td>
                            <label class="container1" for="@("chkIsActive_" + index)">
                                <input type="checkbox" id="@("chkIsActive_" + index)" name="@("chkIsActive_" + index)"
                                       @(room.IsActive ? "checked" : "") />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>
                            <input type="hidden" id="@("hdnRoomId_" + index)" name="@("hdnRoomId_" + index)" value="@room.Id" />
                            <button type="button" class="btn btn-danger btn-xs" onclick="DeleteRoom(this,'@room.Id')">Delete</button>
                        </td>
                    </tr>

                    index++;
                }
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>

}
else
{
    <h2>No rooms available.</h2>
}

<script type="text/javascript">
    function DeleteRoom(element, id) {

        swal({
            title: 'Are you sure you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (result) {
                        showToaster(result.responseText, ToasterType.ERROR);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/Room/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {                            
                            $(element).closest("tr").remove();
                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        })

    }

</script>