@model SuccessHotelierHub.Models.RoomVM
@using SuccessHotelierHub.Models
@{
    ViewBag.Title = "Create Room";

    var roomFeaturesList = (List<RoomFeatureVM>) ViewBag.RoomFeaturesList;
}

@section styles{
    @Styles.Render("~/Content/css/AdminLTE/select2/select2.css")
    @Styles.Render("~/Content/css/AdminLTE/select2/select2-bootstrap.css")
}

<section class="content-header">
    <h1>
        Room <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Room</li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Room Details</h3>
        </div>
        @using (Html.BeginForm("Create", "Room", FormMethod.Post, new { id = "frmRoom", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.FloorId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.FloorId,
                                (IEnumerable<SelectListItem>)ViewBag.FloorList, "--Select Floor--",
                                htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FloorId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.RoomTypeId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.RoomTypeId,
                                (IEnumerable<SelectListItem>)ViewBag.RoomTypeList, "--Select Room Type--",
                                htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RoomTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Type)
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "Code" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.RoomNo, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.RoomNo,  new { @class = "form-control", placeholder = "Room #" })
                        @Html.ValidationMessageFor(m => m.RoomNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked" })
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Room Features</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="RoomFeatures">Select Room Features</label>
                        <select id="RoomFeatures" name="RoomFeatures" class="form-control" multiple>
                            @if (roomFeaturesList != null && roomFeaturesList.Count > 0)
                            {
                                foreach (var feature in roomFeaturesList)
                                {
                                    <option value="@feature.Id">@feature.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveRoom();">Save</button>
                <a href="@Url.Action("List", "Room")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {

        $("#RoomFeatures").select2({
            placeholder: "Search Features",
            allowClear: true
        });
    });

    function validateRoom() {

        var errorMessage = "";
        var blnValid = true;


        if ($("#frmRoom").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function saveRoom() {

        if (validateRoom()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Room/Create")',
                type: 'POST',
                data: $('#frmRoom').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Room details saved successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            redirectTo('@Url.Content("~/Room/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>

@section scripts{
    @Scripts.Render("~/Scripts/AdminLTE/select2/select2.min.js")    
}

