@model SuccessHotelierHub.Models.RoomVM
@{
    ViewBag.Title = "Edit Room";
}
<section class="content-header">
    <h1>
        Room <small>Edit</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Room</li>
        <li class="active">Edit</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Room Details</h3>
        </div>
        @using (Html.BeginForm("Edit", "Room", FormMethod.Post, new { id = "frmRoom", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!-- HIDDEN FIELD -->
            @Html.HiddenFor(m => m.Id)
            <!-- HIDDEN FIELD -->

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.FloorId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.FloorId,
                                (IEnumerable<SelectListItem>)ViewBag.FloorList, "--Select Floor--",
                                htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FloorId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.RoomTypeId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.RoomTypeId,
                                (IEnumerable<SelectListItem>)ViewBag.RoomTypeList, "--Select Room Type--",
                                htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RoomTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Type)
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "Code" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.RoomNo, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Room #" })
                        @Html.ValidationMessageFor(m => m.RoomNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return updateRoom();">Update</button>
                <a href="@Url.Action("List", "Room")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateRoom() {

        var errorMessage = "";
        var blnValid = true;


        if ($("#frmRoom").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function updateRoom() {

        if (validateRoom()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Room/Edit")',
                type: 'POST',
                data: $('#frmRoom').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Room details updated successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            redirectTo('@Url.Content("~/Room/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>


