@using SuccessHotelierHub.Models
@{
    ViewBag.Title = "Room";

    var roomTypeList = (List<RoomTypeVM>)ViewBag.RoomTypeList;
}

<section class="content-header">
    <h1>
        Room <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Room</li>
        <li class="active">List</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Room Details</h3>
        </div>
        <form class="frmRoomList" id="frmRoomList" name="frmRoomList" enctype="multipart/form-data" method="post">
            <div class="box-body pt_10 pb-0">
                <div class="col-md-4 col-sm-12 col-xs-12 padding-zero">
                    <label for="ddlRoomType" class="">Room Type</label>
                    <select class="form-control" id="ddlRoomType" name="ddlRoomType" onchange="loadRooms();">
                        <option value="" data-ratecode="">--Select Room Type--</option>
                        @if (roomTypeList != null && roomTypeList.Count > 0)
                        {
                            foreach (var roomType in roomTypeList)
                            {
                                <option value="@roomType.Id" data-ratecode="@roomType.RoomTypeCode">
                                    @roomType.RoomTypeCode
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 padding-zero m-t-lg text-right">
                    <button type="button" id="btnAddRoom" class="btn btn-sm btn-info" onclick="ShowAddRoomModal();">
                        Add Room
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div class="col-xs-12 padding-zero m-t-lg" id="divRoomList">
                </div>
                <div class="col-xs12 text-right m-t-lg m-b-sm" style="display:none;" id="divButtons">
                    <button type="button" class="btn btn-success" id="btnSave" onclick="updateRooms();">Save</button>
                </div>

            </div>
        </form>
    </div>
</section>

<!-- Add Room Modal START -->
<div id="roomModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Room</h4>
            </div>
            <div class="modal-body modal-body_padding" id="divRoomModal">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Add Room Modal END -->

<script type="text/javascript">
    function loadRooms() {
        var roomType = $('#ddlRoomType').val();

        if (!IsNullOrEmpty(roomType)) {
            //Ajax request to get room details.
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Room/ShowRoomList")',
                type: 'GET',
                data: { roomTypeId: roomType },
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        $('#divRoomList').html();
                        $('#divRoomList').html(response);
                        $('#divButtons').show();
                    }
                }
            });
        }
    }

    function updateRooms() {
        var models = [];

        var totalRooms = 0;
        totalRooms = $('#hdnTotalRooms').val();
        totalRooms = parseInt(totalRooms);

        var roomTypeId = $('#ddlRoomType').val();

        if (!IsNullOrEmpty(totalRooms) && totalRooms > 0) {
            var floorSelected = true;

            for (i = 0; i < totalRooms; i++)
            {
                var roomObj = {};
                roomObj.RoomTypeId = roomTypeId;
                roomObj.Id = $('#hdnRoomId_' + i).val();
                roomObj.RoomNo = $('#txtRoomNo_' + i).val();
                roomObj.Type = $('#txtRoomType_' + i).val();
                roomObj.Description = $('#txtDescription_' + i).val();
                roomObj.FloorId = $('#ddlFloor_' + i).val();
                roomObj.IsOccupied = $('#chkIsOccupied_' + i).prop("checked");
                roomObj.IsActive = $('#chkIsActive_' + i).prop("checked");

                if (IsNullOrEmpty($('#ddlFloor_' + i).val())) {
                    floorSelected = false;
                }

                models.push(roomObj);
            }

            if (floorSelected == false) {
                showToaster("Please select floor for all the rooms.", ToasterType.ERROR);
                return false;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Content("~/Room/UpdateRooms")',
                type: 'POST',
                data: JSON.stringify({ 'models': models }),
                success: function (response) {
                    if (response.IsSuccess == false)
                    {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else
                    {
                        showToaster("Room details updated successfully", ToasterType.SUCCESS);
                    }
                }
            });
        }
        else
        {
            showToaster("Room details not found.", ToasterType.ERROR);
        }
    }

    function ShowAddRoomModal() {
        var roomTypeId = $('#ddlRoomType').val();

        //Ajax Request to show room modal.
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (result) {
                showToaster(result.responseText, ToasterType.ERROR);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/Room/ShowAddRoom")',
            type: 'GET',
            data: { roomTypeId: roomTypeId },
            success: function (response) {
                if (response.IsSuccess == false) {
                    showToaster(response.errorMessage, ToasterType.ERROR);
                }
                else {
                    $('#divRoomModal').html('');
                    $('#divRoomModal').html(response);

                    //$('form#frmRoom #RoomTypeId').val(roomTypeId);

                    $('#roomModal').modal('toggle');
                }
            }
        });
    }

</script>