@using SuccessHotelierHub.Models
@{
    ViewBag.Title = "Room";

    var roomTypeList = (List<RoomTypeVM>)ViewBag.RoomTypeList;
}

<section class="content-header">
    <h1>
        Room <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Room</li>
        <li class="active">List</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Room Details</h3>
        </div>
        <form class="frmRoom" enctype="multipart/form-data" method="post">
            <div class="box-body pt_10 pb-0">
                <div class="col-md-4 col-sm-12 col-xs-12 padding-zero">
                    <label for="ddlRoomType" class="">Room Type</label>
                    <select class="form-control" id="ddlRoomType" name="ddlRoomType" onchange="loadRooms();">
                        <option value="" data-ratecode="">--Select Room Type--</option>
                        @if (roomTypeList != null && roomTypeList.Count > 0)
                        {
                            foreach (var roomType in roomTypeList)
                            {
                                <option value="@roomType.Id" data-ratecode="@roomType.RoomTypeCode">
                                    @roomType.RoomTypeCode
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div class="col-xs-12 padding-zero m-t-lg" id="divRoomList">
                </div>
                <div class="col-xs12 text-right m-t-lg" style="display:none;" id="divButtons">
                    <button type="button" class="btn btn-success" id="btnSave" onclick="updateRooms();">Save</button>
                </div>

            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    function loadRooms() {
        var roomType = $('#ddlRoomType').val();

        if (!IsNullOrEmpty(roomType)) {
            //Ajax request to get room details.

            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Room/ShowRoomList")',
                type: 'GET',
                data: { roomTypeId: roomType },
                success: function (response) {                    
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        $('#divRoomList').html();
                        $('#divRoomList').html(response);
                        $('#divButtons').show();
                    }
                }
            });
        }
    }

    function updateRooms() {
        var models = [];

        var totalRooms = 0;
        totalRooms = $('#hdnTotalRooms').val();
        totalRooms = parseInt(totalRooms);

        var roomTypeId = $('#ddlRoomType').val();

        if (!IsNullOrEmpty(totalRooms) && totalRooms > 0) {
            debugger;
            for (i = 0; i < totalRooms; i++)
            {
                var roomObj = {};
                roomObj.RoomTypeId = roomTypeId;
                roomObj.Id = $('#hdnRoomId_' + i).val();
                roomObj.RoomNo = $('#txtRoomNo_' + i).val();
                roomObj.Type = $('#txtRoomType_' + i).val();
                roomObj.Description = $('#txtDescription_' + i).val();
                roomObj.StatusId = $('#ddlStatus_' + i).val();
                roomObj.IsOccupied = $('#chkIsOccupied_' + i).prop("checked");
                roomObj.IsActive = $('#chkIsActive_' + i).prop("checked");

                models.push(roomObj);
            }

            debugger;
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Content("~/Room/UpdateRooms")',
                type: 'POST',
                data: JSON.stringify({ 'models': models }),
                success: function (response) {
                    debugger;
                    if (response.IsSuccess == false)
                    {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else
                    {
                        showToaster("Room details updated successfully", ToasterType.SUCCESS);
                    }
                }
            });
        }
        else
        {
            showToaster("Room details not found.", ToasterType.ERROR);
        }
    }

</script>;