@model SuccessHotelierHub.Models.SearchRoomParametersVM
@{
    ViewBag.Title = "Search Room";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "RoomGrid";
}

<section class="content-header">
    <h1>
        Room <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Room</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Room</h3>
            <div class="pull-right box-tools">
                <a href="@Url.Action("Create","Room")"
                   class="btn btn-info btn-sm" style="color: #fff">Add Room</a>
            </div>
        </div>
        <form class="frmRoomList" enctype="multipart/form-data" method="post">
            <div class="box-body box-body-list">
                <div class="pt_10 pl_10 pr_10 searchBox_Border">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.FloorId, new { @class = "required-label" })
                            @Html.DropDownListFor(m => m.FloorId,
                                (IEnumerable<SelectListItem>)ViewBag.FloorList, "--Select Floor--",
                                htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FloorId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.RoomTypeId, new { @class = "required-label" })
                            @Html.DropDownListFor(m => m.RoomTypeId,
                                (IEnumerable<SelectListItem>)ViewBag.RoomTypeList, "--Select Room Type--",
                                htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RoomTypeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.RoomNo, new { @class = "required-label" })
                            @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Room #" })
                            @Html.ValidationMessageFor(m => m.RoomNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-group mt_25">
                            <button type="button" id="btnSearch" class="btn btn-success m-r-xs" onclick="searchRoom()">Search</button>
                            <button type="button" id="btnClear" class="btn btn-danger" onclick="clearRoom()">Clear</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 padding-zero m-t" id="divMultipleDeleteAction" style="display:none;">
                    <div class="text-left">
                        <button type="button" id="btnDeleteMultipleRecords" class="btn bg-orange btn-sm" onclick="deleteSelected()">Delete Selected</button>
                    </div>
                </div>

                <div class="col-xs-12 padding-zero m-t-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblRoom">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Room #</th>
                                    <th>Code</th>
                                    <th>Floor</th>                                    
                                    <th>Room Type Code</th>
                                    <th>Features</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>                    
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">
    var currentPage = 1;
    var grdRoom;
    var selectedRoomIds = [];

    $(document).ready(function () {
        setTimeout(InitializeRoomGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
    });


    function SearchRoomParameters(d) {
        var floorId = $('#FloorId').val();
        var roomTypeId = $('#RoomTypeId').val();
        var roomNo = $('#RoomNo').val();

        d.PageNum = currentPage;
        d.FloorId = floorId;
        d.RoomTypeId = roomTypeId;
        d.RoomNo = roomNo;
    }

    function RoomGridDataBound(response) {
        if (response.IsSuccess == true) {
            @*@("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);*@

            if (response.data.length > 0) {
                $('#divMultipleDeleteAction').show();
            } else {
                ClearRoomIdsArray();
                $('#divMultipleDeleteAction').hide();
            }

            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadRoomGrid() {
        grdRoom.ajax.url("@Url.Content("~/Room/Search")").load();
    }

    function RoomGridPageChange(cPage) {
        currentPage = cPage;
        ReloadRoomGrid();
    }


    function InitializeRoomGrid() {
        grdRoom = $('#tblRoom').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                    BindCheckBoxRoomChangeEvent();
                },
                url: '@Url.Content("~/Room/Search")',
                data: SearchRoomParameters,
                dataSrc: RoomGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: false,
                render: function (data, type, full, meta) {
                    var chkBox = "";
                    var checked = "";
                    if (selectedRoomIds != null && selectedRoomIds.length > 0) {
                        if (arrayContains(full.Id, selectedRoomIds) == true) {
                            checked = "checked";
                        }
                    }

                    chkBox += "<label class='container1' for='chkRoom_" + full.Id + "'>";
                    chkBox += "<input type='checkbox' class='chkRoomItem' id='chkRoom_" + full.Id + "' name='chkRoom_" + full.Id + "' value='" + full.Id + "' " + checked + "/>";
                    chkBox += "<span class='checkmark'></span> </label>";
                    return chkBox;
                }
            },
            {
                targets: 1,
                data: "RoomNo",
                orderable: true
            },
            {
                targets: 2,
                data: "Type",
                orderable: true
            },
            {
                targets: 3,
                data: "FloorName",
                orderable: true
            },
            {
                targets: 4,
                data: "RoomTypeCode",
                orderable: true
            },
            {
                targets: 5,
                data: "RoomFeatures",
                orderable: false
            },
            {
                targets: 6,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 7,
                data: "Id",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoRoomEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs m-r-xs">Edit</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs"'
                        + ' onclick="deleteRoom(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[1, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoRoomEdit(Id) {
        var url = '@Url.Content("~/Room/Edit/")' + Id;
        redirectTo(url);
    }

    function searchRoom() {
        currentPage = 1;
        ClearRoomIdsArray();
        ReloadRoomGrid();
    }

    function clearRoom() {
        $('#FloorId').val('');
        $('#RoomTypeId').val('');
        $('#RoomNo').val('');

        searchRoom();
    }

    function deleteRoom(item, e, id) {

        swal({
            title: 'Are you sure you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ShowErrorMessage(jqXHR.status, errorThrown);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/Room/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {

                            var tr = $('#tblRoom  tbody tr#' + id)
                            var row = grdRoom.row(tr);
                            var rowNode = row.node();
                            row.remove();
                            grdRoom.draw();

                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        });
    }

    function BindCheckBoxRoomChangeEvent() {
        $(".chkRoomItem").change(function () {
            if (this.checked) {
                AddRoomIdIntoArray($(this).val());
            } else {
                RemoveRoomIdFromArray($(this).val());
            }
        });
    }

    function AddRoomIdIntoArray(id) {
        if (!IsNullOrEmpty(id)) {
            selectedRoomIds.push(id);
        }
    }

    function RemoveRoomIdFromArray(id) {
        if (!IsNullOrEmpty(id)) {
            selectedRoomIds = RemoveArrayItemByValue(id, selectedRoomIds);
        }
    }

    function ClearRoomIdsArray() {
        selectedRoomIds = [];
    }

    function deleteSelected() {

        if (selectedRoomIds != null && selectedRoomIds.length > 0) {
            swal({
                title: 'Are you sure you want to delete selected records?',
                type: 'warning',
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        beforeSend: function (xhr) {
                            showLoader();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            ShowErrorMessage(jqXHR.status, errorThrown);
                        },
                        complete: function () {
                            hideLoader();
                        },
                        url: '@Url.Content("~/Room/DeleteSelected")',
                        type: 'POST',
                        data: { ids: selectedRoomIds },
                        success: function (response) {
                            if (response.IsSuccess == true) {
                                ClearRoomIdsArray();

                                searchRoom();

                                showToaster("Records deleted successfully", ToasterType.SUCCESS);
                            }
                            else {
                                showToaster(response.errorMessage, ToasterType.ERROR);
                            }
                        }
                    });
                }
            });
        } else {
            showToaster("Please select at least one checkbox to delete record.", ToasterType.ERROR);
        }
    }
</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}