@model SuccessHotelierHub.Models.UserLoginTimeVM
@using SuccessHotelierHub.Utility;
@{
    ViewBag.Title = "Student Login Time";

    var configurationType = Model.ConfigurationType;

    var loginStartTimeText = Model.LoginStartTimeText;
    var loginEndTimeText = Model.LoginEndTimeText;
}

<section class="content-header">
    <h1>
        Configure Login Time
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Tutor</li>
        <li class="active">Configure Login Time</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Configure Login Time Details</h3>
        </div>
        @using (Html.BeginForm("UserLoginTime", "Tutor", FormMethod.Post, new { id = "frmUserLoginTime", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!--HIDDEN FIELD-->
            @Html.HiddenFor(m => m.TutorId)
            @Html.HiddenFor(m => m.ConfigurationType)
            <!--HIDDEN FIELD-->

            <div class="box-body pt_10 pb-0">
                <div class="col-xs-12 user-list-radio m-b-sm">                    
                    <div class="row">
                        <label class="label-bold m-r-lg">Type : </label>
                        <label class="container_radio" for="rbIsAlways">
                            <span>Always</span>
                            <input type="radio" class="cursor-P flat-red" id="rbIsAlways" name="ConfigurationType" value="@UserLoginConfigurationType.ALWAYS" onchange="showHideTimeFrame('@UserLoginConfigurationType.ALWAYS')">
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio ml-35" for="rbIsSetLimit">
                            <span>Set Limit</span>
                            <input type="radio" class="cursor-P flat-red" id="rbIsSetLimit" name="ConfigurationType" value="@UserLoginConfigurationType.SET_LIMIT" onchange="showHideTimeFrame('@UserLoginConfigurationType.SET_LIMIT')">
                            <span class="checkmark_radio"></span>
                        </label> 
                        <label class="container_radio ml-35" for="rbIsDontAllow">
                            <span>Dont' Allow</span>
                            <input type="radio" class="cursor-P flat-red" id="rbIsDontAllow" name="ConfigurationType" value="@UserLoginConfigurationType.DONT_ALLOW" onchange="showHideTimeFrame('@UserLoginConfigurationType.DONT_ALLOW')">
                            <span class="checkmark_radio"></span>
                        </label>     
                    </div>
                                   
                </div>
                <div class="col-xs-12 padding-zero m-t-md" id="divShowTimeFrame" style="display:none;">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="bootstrap-timepicker" data-date-format="HH:mm">
                                @Html.LabelFor(m => m.LoginStartTimeText, new { @class = "required-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.LoginStartTimeText, new { @class = "form-control mytimepicker", placeholder = "hh:mm"})
                                    <label class="input-group-addon cursor-P" for="LoginStartTimeText">
                                        <i class="fa fa-clock-o"></i>
                                    </label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.LoginStartTimeText, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="bootstrap-timepicker" data-date-format="HH:mm">
                                @Html.LabelFor(m => m.LoginEndTimeText, new { @class = "required-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.LoginEndTimeText, new { @class = "form-control mytimepicker", placeholder = "hh:mm" })
                                    <label class="input-group-addon cursor-P" for="LoginEndTimeText">
                                        <i class="fa fa-clock-o"></i>
                                    </label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.LoginEndTimeText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveUserLoginTime();">Save</button>
                <a href="@Url.Action("ViewStudent", "Tutor")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>




<script type="text/javascript">
    $(document).ready(function () {

        var configurationType = trim('@configurationType');

        if (!IsNullOrEmpty(configurationType)) {
            if (configurationType == trim("@UserLoginConfigurationType.ALWAYS")) {
                $('#rbIsAlways').prop("checked", true).trigger('change');
            } else if (configurationType == trim("@UserLoginConfigurationType.SET_LIMIT")) {
                $('#rbIsSetLimit').prop("checked", true).trigger('change');
            } else if (configurationType == trim("@UserLoginConfigurationType.DONT_ALLOW") ) {
                $('#rbIsDontAllow').prop("checked", true).trigger('change');
            }
        }

        //Timepicker
        $('#LoginStartTimeText').timepicker({
            showInputs: false,
            showMeridian: false,
            minuteStep: 1
        });

        if (IsNullOrEmpty('@loginStartTimeText')) {
            $('#LoginStartTimeText').val('');
        }

        $('#LoginEndTimeText').timepicker({
            showInputs: false,
            showMeridian: false,
            minuteStep: 1
        });

        //Input Mask
        $('#LoginStartTimeText').inputmask(
            "hh:mm", {
                placeholder: "hh:mm",
                insertMode: false,
                showMaskOnHover: true
            }
        );

        $('#LoginEndTimeText').inputmask(
           "hh:mm", {
               placeholder: "hh:mm",
               insertMode: false,
               showMaskOnHover: true
           }
       );

        if (IsNullOrEmpty('@loginEndTimeText')) {
            $('#LoginEndTimeText').val('');
        }
    });

    function showHideTimeFrame(type) {
        if (type == trim("@UserLoginConfigurationType.ALWAYS") || type == trim("@UserLoginConfigurationType.DONT_ALLOW")) {
            $('#divShowTimeFrame').hide();
        } else if (type == trim("@UserLoginConfigurationType.SET_LIMIT")) {
            $('#divShowTimeFrame').show();
        }
    }

    function validateUserLoginTime() {

        var errorMessage = "";
        var blnValid = true;


        if ($("#frmUserLoginTime").valid() == false) {
            showToaster("Please fill all the Required Fields first", ToasterType.ERROR);
            blnValid = false;
        }

        var isSetLimit = $('#rbIsSetLimit').prop("checked");
        if (isSetLimit) {
            var loginStartTime = $('#LoginStartTimeText').val();
            var loginEndTime = $('#LoginEndTimeText').val();

            if (!IsNullOrEmpty(loginStartTime) && !IsNullOrEmpty(loginEndTime)) {

                var dtStartTime = GetDateObjectFromTime(loginStartTime);
                var dtEndTime = GetDateObjectFromTime(loginEndTime);

                if (dtEndTime < dtStartTime) {
                    showToaster("Login start time must be less than login end time.", ToasterType.ERROR);
                    blnValid = false;
                }
            }
        }


        return blnValid;
    }

    function saveUserLoginTime() {

        if (validateUserLoginTime()) {

            var configurationType = trim($('input[name=ConfigurationType]:checked').val());

            $('#ConfigurationType').val(configurationType);

            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Tutor/UserLoginTime")',
                type: 'POST',
                data: $('#frmUserLoginTime').serialize(),
                success: function (response) {
                    if (!IsNullOrEmpty(response)) {

                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {
                            showToaster("Student time configuration details updated successfully", ToasterType.SUCCESS);
                        }
                    }
                }
            });
            return false;
        }
    }

</script>



@section scripts {
    <script type="text/javascript" src="~/Scripts/custom/jquery.inputmask.bundle.js"></script>    
}