@using SuccessHotelierHub.Models;
@using SuccessHotelierHub.Repository;
@{
    ReservationRepository reservationRepository = new ReservationRepository();

    var roomDetail = (List<RoomPlanRoomVM>)ViewBag.RoomDetail;

    var dates = (List<RoomPlanDateRangeVM>)ViewBag.Dates;

    var firstHeaderRowHtml = "";
    var secondHeaderRowHtml = "";

    var startDate = "";
    var endDate = "";

    if (dates != null)
    {
        firstHeaderRowHtml += "<th style='width: 30%;'>";

        secondHeaderRowHtml += "<th class='text-center' width='10%'>Room#</th>";
        secondHeaderRowHtml += "<th class='text-center' width='10%'>Room Status</th>";
        secondHeaderRowHtml += "<th class='text-center' width='10%'>Room Type</th>";

        startDate = dates[0].Date.Value.ToString("MM/dd/yyyy");
        endDate = dates[dates.Count - 1].Date.Value.ToString("MM/dd/yyyy");

        foreach (var date in dates)
        {
            if (date.Date.HasValue && (date.Date.Value.DayOfWeek == DayOfWeek.Friday || date.Date.Value.DayOfWeek == DayOfWeek.Saturday))
            {
                firstHeaderRowHtml += string.Format("<th width='10%' class='text-weekend-bgcolor text-center'>{0}</th>", date.DayOfTheWeek);
            }
            else
            {
                firstHeaderRowHtml += string.Format("<th width='10%' class='text-center'>{0}</th>", date.DayOfTheWeek);
            }
            secondHeaderRowHtml += string.Format("<th width='10%' class='text-center' data-date='{1}'>{0}</th>", date.DateString, date.Date);
        }

        firstHeaderRowHtml += "</th>";
        secondHeaderRowHtml += "</th>";
    }
}

<style type="text/css">
    .tableContainer table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 2px solid black;
        overflow: auto;
    }

    .tableContainer thead, tr, th, tbody {
        box-sizing: border-box;
        display: block;
    }

    .fixedHeader tr th {
        height: 35px !important;
    }

    .scrollContent tr td {
        min-height: 35px !important;
    }

    .tableContainer tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .tableContainer thead th {
        height: 30px;
        line-height: 30px;
    }


    .tableContainer tbody {
        height: 500px !important;
        overflow-y: auto;
        width: 100%;
        overflow-x: hidden;
    }

    /*any os other than mac*/
    .tableContainer thead {
        width: 100%;
        padding-right: 17px;
    }
    /*if mac os*/
    .tableContainer body.MacOS thead {
        padding-right: 0;
    }

    .tableContainer tbody {
        border-top: 2px solid black;
    }

    .table-class thead.fixedHeader tr th, .table-class tbody.scrollContent td {
        /*width: 10%;*/
        float: left;
        /*border-right: 1px solid black;*/
        position: relative;
    }

    .table-class {
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

        .table-class td {
            vertical-align: middle;
            border: 1px solid #4c7299;
            border-width: 0px 1px 1px 0px;
            text-align: left;
            padding: 7px;
            font-size: 10px;
            font-family: Arial;
            font-weight: normal;
            color: #000;
        }


    .tableContainer tbody td:last-child, thead th:last-child {
        border-right: none;
    }

    .width-100 {
        width: 100%;
    }

    .assigned {
        background: #fafafa;
        color: #444;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 5px;
    }

    .datepicker-days tfoot {
        display: none;
    }

    .datepicker-days td, th {
        display: table-cell;
        vertical-align: inherit;
    }

    .datepicker-days {
        height: auto !important;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th {
        width: 26px;
    }

    .border-radius-none {
        border-radius: 0;
    }

    .border-none {
        border-left: none !important;
        border-right: none !important;
    }

    .border-bottom-none {
        border-bottom: none;
    }

    .arrow-right {
        color: #ff851b;
        font-size: 16px;
    }

    th.text-center {
        padding: 8px 2px !important;
    }

    .bg-sky {
        background-color: #1AAFFE;
    }
</style>




@if (roomDetail != null && roomDetail.Count > 0)
{

    //tbl_max_height
    <div class="col-xs-12 padding-zero m-t">
        <div class="table-responsive tableContainer">
            <table class="table-class table table-bordered scrollTable mb_5 tblRoomPlan" id="tblRoomPlan">
                <thead class="fixedHeader">
                    <tr>
                        @Html.Raw(firstHeaderRowHtml)
                    </tr>
                    <tr>
                        @Html.Raw(secondHeaderRowHtml)
                    </tr>
                </thead>
                <tbody class="scrollContent">
                    @foreach (var room in roomDetail)
                    {
                        var statusBGColor = "#fff";
                        if (!string.IsNullOrWhiteSpace(room.RoomStatusColor))
                        {
                            statusBGColor = room.RoomStatusColor;
                        }

                        var reservationDetail = reservationRepository.GetReservationDetailsForRoomPlan(room.Id, startDate, endDate, LogInManager.LoggedInUserId);
                        var AllocationDetail = reservationRepository.GetRoomAllocationDetailsForRoomPlan(room.Id, startDate, endDate, LogInManager.LoggedInUserId);

                        <tr data-roomid="@(room.Id)" data-roomtypeid="@(room.RoomTypeId)" data-roomtypecode="@(room.RoomTypeCode)" data-roomno="@(room.RoomNo)" data-tr-id="@("tr_" + room.Id)" id="@("tr_" + room.Id)">
                            <td width="10%" class="@("td_" + room.Id)">@room.RoomNo</td>
                            <td width="10%" class="tdRoomStatus @("td_" + room.Id)" style="background-color:@statusBGColor; color:#fff"
                                data-background-color="@statusBGColor" data-room-status="@room.RoomStatus">
                                @room.RoomStatus
                            </td>
                            <td width="10%" class="@("td_" + room.Id)">@room.RoomTypeCode</td>

                            @if (reservationDetail != null && reservationDetail.Count > 0)
                            {
                                bool blnFirst = true;
                                for (int intI = 0; intI < dates.Count;)
                                {
                                    var reservationInfo = reservationDetail.Where(i => (i.CheckInDate.Value.Date <= dates[intI].Date.Value.Date) && (i.CheckOutDate.Value.Date >= dates[intI].Date.Value.Date)).FirstOrDefault();
                                    if (reservationInfo != null)
                                    {
                                        if (blnFirst)
                                        {
                                            blnFirst = false;

                                            <td class="text-center cursor-move assigned" style="padding:5px; width:@(reservationInfo.CheckOutDate <= dates[dates.Count - 1].Date ? (reservationInfo.DaysInWeek == 1? reservationInfo.DaysInWeek :reservationInfo.DaysInWeek  - 1) * 10 : reservationInfo.DaysInWeek * 10)%;">
                                                <span style="margin-right:-1px !important; text-align:center!important;"
                                                      class="btn btn-xs m-r-xs p-l-xs bg-orange  text-left-align  width-100 item first spnReservation"
                                                      id="@("spnReservation_" + reservationInfo.ReservationId)"
                                                      data-reservationid="@(reservationInfo.ReservationId)"
                                                      ondblclick="GotoReservationEdit('@(reservationInfo.ReservationId)')"
                                                      title="Double click here to view reservation detail.">
                                                    @(string.Format("{0} {1} ({2})", reservationInfo.LastName, reservationInfo.FirstName, reservationInfo.NoOfNight))
                                                </span>
                                            </td>
                                        }
                                        else
                                        {
                                            if (reservationInfo.CheckOutDateString == dates[intI].DateString)
                                            {
                                                <td class="text-center cursor-move assigned padding-zero border-none text-center-align" style="width:10%;padding:7px 0px !important; ">
                                                    <span class="btn btn-xs padding-zero fa fa-long-arrow-right arrow-right"
                                                          id="@("spnReservation_" + reservationInfo.ReservationId)"
                                                          data-reservationid="@(reservationInfo.ReservationId)"
                                                          ondblclick="GotoReservationEdit('@(reservationInfo.ReservationId)')"
                                                          title="Double click here to view reservation detail.">
                                                    </span>
                                                </td>
                                                blnFirst = true;
                                            }
                                        }
                                        intI = intI + 1;
                                    }
                                    else
                                    {
                                        blnFirst = true;
                                        intI++;
                                        <td class="drop" width="10%"></td>
                                    }
                                }
                            }
                            else
                            {
                                if (AllocationDetail != null)
                                {
                                    bool allocateFirst = true;
                                    for (int intK = 0; intK < dates.Count;)
                                    {
                                        var allocationInfo = AllocationDetail.Where(i => (i.ArrivalDate.Value.Date <= dates[intK].Date.Value.Date) && (i.DepartureDate.Value.Date >= dates[intK].Date.Value.Date)).ToList();
                                        if (allocationInfo.Count > 0)
                                        {
                                            allocateFirst = true;
                                            if (allocateFirst)
                                            {
                                                allocateFirst = false;
                                                <td width='10%' class="text-center cursor-move assigned @("td_" + room.Id)" style="padding:5px;" height="@(allocationInfo.Count * 35)px!important;">
                                                    @foreach (var item in allocationInfo)
                                                    {
                                                        <span style="margin:3px -1px !important; text-align:center!important;"
                                                              class="width-100 first btn item btn-xs bg-sky m-r-xs text-left-align p-l-xs spnReservation"
                                                              id="@("spnReservation_" + item.ReservationId)"
                                                              data-reservationid="@(item.ReservationId)"
                                                              ondblclick="GotoReservationEdit('@(item.ReservationId)')"
                                                              title="Double click here to view reservation detail.">
                                                            @(string.Format("{0} {1} ({2})", item.LastName, item.FirstName, item.NoOfNight))
                                                        </span>
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td width='10%' class="@("td_" + room.Id)" height="@(allocationInfo.Count * 35)px!important"></td>
                                            }
                                            intK = intK + 1;
                                        }
                                        else
                                        {
                                            allocateFirst = true;
                                            intK++;
                                            <td width='10%' class="drop @("td_" + room.Id)"></td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                    <td class="drop" width="10%"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 padding-zero">
        <div class="col-sm-3 padding_left">
            @*<p class="mb_5 mt_5"><a herf="#">[Day]Fowler, Veronica</a></p>*@
        </div>
        <div class="col-sm-9 padding-zero">
            <div class="pull-left">
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.FirstDate')" title="First"><i class="fa fa-angle-double-left next_prev_btn" aria-hidden="true"></i></a>
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.PrevDate')" title="Prev"><i class="fa fa-angle-left next_prev_btn" aria-hidden="true"></i></a>
                @*<a href="#" class="lbl_bg">Dep/Cxl Rule</a>*@
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.NextDate')" title="Next"><i class="fa fa-angle-right next_prev_btn" aria-hidden="true"></i></a>
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.LastDate')" title="Last"><i class="fa fa-angle-double-right next_prev_btn" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 padding-zero m-t text-center">
        <h5>No data available.</h5>
    </div>
}

<script type="text/javascript">

    var AllocatedRoom = @Html.Raw(ViewBag.AllocationFullDetail);
    $(document).ready(function () {
        if (AllocatedRoom != null) {
            $(AllocatedRoom).each(function(){
                var max = 0;
                $('.td_' + this).each(function () {
                    max = Math.max($(this).height(), max);
                }).height(max);
            })
        }
    })

    $(function () {
        $('.tblRoomPlan td span.item').draggable({
            revert: true,
            proxy: 'clone'
        });

        $('.tblRoomPlan td.drop').droppable({
            onDragEnter: function () {
                $(this).addClass('over');
            },
            onDragLeave: function () {
                $(this).removeClass('over');
            },
            onDrop: function (e, source) {
                $(this).removeClass('over');

                //Get current row <tr>.
                var $row = $(this).closest("td").closest("tr");
                var $sourceRow = $(source).closest("td").closest("tr");

                //Get date of dropped td element by index (NOTE : find('thead tr').eq(1) => select second header from the table.
                var $th = $(this).closest('table').find('thead tr').eq(1).find('th').eq($(this).index());
                var date = $($th).attr("data-date");

                var currentDraggableElement = $(source);

                if ($(source).hasClass('assigned')) {
                    $(this).append(source);
                } else {
                    var c = $(source).clone().addClass('assigned');
                    $(this).empty().append(c);
                    $(this).closest("td").addClass("assigned");
                    //$(this).closest("td").removeClass("drop");

                    c.draggable(
                        {
                            revert: true
                        });

                    $(source).closest("td").addClass("drop1");
                    //$(source).closest("td").removeClass("assigned");
                    bindDroppableEventToAssignedReservation();

                    $(source).remove();

                }

                if ($row) {
                    var reservationId = $(currentDraggableElement).attr("data-reservationid");
                    var roomId = $row.attr("data-roomid");
                    var roomTypeId = $row.attr("data-roomtypeid");
                    var trIdToScroll = $row.attr("data-tr-id");

                    $('#hdnRoomTableRowIdToScroll').val(trIdToScroll);

                    ChangeRoomAndReservationMapping(reservationId, roomId, roomTypeId, date, $sourceRow, $row);
                }

            }
        });

    });

    function bindDroppableEventToAssignedReservation() {
        $('.tblRoomPlan td.drop1').droppable({
            accept: '.assigned',
            onDragEnter: function (e, source) {
                $(source).addClass('trash');
            },
            onDragLeave: function (e, source) {
                $(source).removeClass('trash');
            },
            onDrop: function (e, source) {
                $(this).removeClass('over');

                //Get current row <tr>.
                var $row = $(this).closest("td").closest("tr");
                var $sourceRow = $(source).closest("td").closest("tr");

                //Get date of dropped td element by index (NOTE : find('thead tr').eq(1) => select second header from the table.
                var $th = $(this).closest('table').find('thead tr').eq(1).find('th').eq($(this).index());
                var date = $($th).attr("data-date");

                var currentDraggableElement = $(source);

                if ($(source).hasClass('assigned')) {
                    $(this).append(source);
                } else {
                    var c = $(source).clone().addClass('assigned');
                    $(this).empty().append(c);
                    $(this).closest("td").addClass("assigned");
                    //$(this).closest("td").removeClass("drop");

                    c.draggable({
                        revert: true
                    });

                    $(source).closest("td").addClass("drop1");
                    //$(source).closest("td").removeClass("assigned");
                    bindDroppableEventToAssignedReservation();

                    $(source).remove();
                }

                if ($row) {
                    var reservationId = $(currentDraggableElement).attr("data-reservationid");
                    var roomId = $row.attr("data-roomid");
                    var roomTypeId = $row.attr("data-roomtypeid");
                    var trIdToScroll = $row.attr("data-tr-id");

                    $('#hdnRoomTableRowIdToScroll').val(trIdToScroll);

                    ChangeRoomAndReservationMapping(reservationId, roomId, roomTypeId, date, $sourceRow, $row);
                }
            }
        });
    }

    function ChangeRoomAndReservationMapping(reservationId, roomId, roomTypeId, date, sourceRow, destinationRow) {

        if (!IsNullOrEmpty(reservationId) && !IsNullOrEmpty(roomId) && !IsNullOrEmpty(roomTypeId)) {
            //Ajax request to change room mapping.
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Room/ChangeRoomAndReservationMapping")',
                type: 'POST',
                data: { reservationId: reservationId, roomId: roomId, roomTypeId: roomTypeId, date: date },
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster('Room allocation changed successfully.', ToasterType.SUCCESS);
                        //
                        //if (!IsNullOrEmpty(sourceRow) && !IsNullOrEmpty(destinationRow)) {
                        //    var sourceRowTDStatus = $(sourceRow).find("td.tdRoomStatus");
                        //    var destinationRowTDStatus = $(destinationRow).find("td.tdRoomStatus");

                        //    var sourceRowRoomStatusColor = "", destinationRowRoomStatusColor = "";
                        //    var sourceRowRoomStatus = "", destinationRowRoomStatus = "";

                        //    sourceRowRoomStatusColor = $(sourceRowTDStatus).attr("data-background-color");
                        //    destinationRowRoomStatusColor = $(destinationRowTDStatus).attr("data-background-color");

                        //    sourceRowRoomStatus = $(sourceRowTDStatus).attr("data-room-status");
                        //    destinationRowRoomStatus = $(destinationRowTDStatus).attr("data-room-status");

                        //    $(sourceRow).find("td.tdRoomStatus").css({ "background-color": destinationRowRoomStatusColor }).html(destinationRowRoomStatus);
                        //    $(destinationRow).find("td.tdRoomStatus").css({ "background-color": sourceRowRoomStatusColor }).html(sourceRowRoomStatus);
                        //}

                        searchRoomPlan($('#StartDate').val());
                    }
                }
            });
        }
    }

    function GotoReservationEdit(Id) {
        var url = '@Url.Content("~/Reservation/Edit/")' + Id + "?source=RoomPlan";
        redirectTo(url);
    }
</script>
