@using SuccessHotelierHub.Models;

@{
    var roomDetail = (List<RoomPlanRoomVM>)ViewBag.RoomDetail;

    var dates = (List<RoomPlanDateRangeVM>)ViewBag.Dates;

    var firstHeaderRowHtml = "";
    var secondHeaderRowHtml = "";

    if (dates != null)
    {
        firstHeaderRowHtml += "<th colspan='3'>";

        secondHeaderRowHtml += "<th>Room#</th>";
        secondHeaderRowHtml += "<th>Room Status</th>";
        secondHeaderRowHtml += "<th>Room Type</th>";

        foreach (var date in dates)
        {
            firstHeaderRowHtml += string.Format("<th>{0}</th>", date.DayOfTheWeek);
            secondHeaderRowHtml += string.Format("<th>{0}</th>", date.DateString);
        }

        firstHeaderRowHtml += "</th>";
        secondHeaderRowHtml += "</th>";
    }
}

@if (roomDetail != null && roomDetail.Count > 0)
{
    <div class="col-xs-12 padding-zero m-t tbl_max_height">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb_5">
                <thead>
                    <tr>
                        @Html.Raw(firstHeaderRowHtml)
                    </tr>
                    <tr>
                        @Html.Raw(secondHeaderRowHtml)
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in roomDetail)
                    {
                        var statusBGColor = "#ff";
                        if (!string.IsNullOrWhiteSpace(room.RoomStatusColor))
                        {
                            statusBGColor = room.RoomStatusColor;
                        }
                        <tr>
                            <td>@room.RoomNo</td>
                            <td style="background-color:@statusBGColor; color:#fff">@room.RoomStatus</td>
                            <td>@room.RoomTypeCode</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 padding-zero">
        <div class="col-sm-3 padding_left">
            @*<p class="mb_5 mt_5"><a herf="#">[Day]Fowler, Veronica</a></p>*@
        </div>
        <div class="col-sm-9 padding-zero">
            <div class="pull-left">
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.FirstDate')" title="First"><i class="fa fa-angle-double-left next_prev_btn" aria-hidden="true"></i></a>
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.PrevDate')" title="Prev"><i class="fa fa-angle-left next_prev_btn" aria-hidden="true"></i></a>
                @*<a href="#" class="lbl_bg">Dep/Cxl Rule</a>*@
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.NextDate')" title="Next"><i class="fa fa-angle-right next_prev_btn" aria-hidden="true"></i></a>
                <a href="javascript:void(0);" onclick="searchRoomPlan('@ViewBag.LastDate')" title="Last"><i class="fa fa-angle-double-right next_prev_btn" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 padding-zero m-t text-center">
        <h5>No data available.</h5>
    </div>
}
