@model SuccessHotelierHub.Models.PreferenceGroupVM
@{
    ViewBag.Title = "Create Preference Group";
}

<section class="content-header">
    <h1>
        Preference Group <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Preference Group</li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Preference Group Details</h3>
        </div>
        @using (Html.BeginForm("Create", "PreferenceGroup", FormMethod.Post, new { id = "frmPreferenceGroup", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "required-label" })
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows= "3" })
                    </div>

                    <div class="col-md-3 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked" })
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return savePreferenceGroup();">Save</button>
                <a href="@Url.Action("List", "PreferenceGroup")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validatePreferenceGroup() {
        var errorMessage = "";
        var blnValid = true;

        if ($("#frmPreferenceGroup").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function savePreferenceGroup() {

        if (validatePreferenceGroup()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/PreferenceGroup/Create")',
                type: 'POST',
                data: $('#frmPreferenceGroup').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Preference Group details saved successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            redirectTo('@Url.Content("~/PreferenceGroup/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>

