@model SuccessHotelierHub.Models.DailyCashSheet
@using SuccessHotelierHub.Utility
@using SuccessHotelierHub.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        p {
            text-align: center;
            font-weight: bold;
        }

        table, th, td {
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 2px;
        }

        .text_bold {
            font-weight: bold;
        }

        thead {
            border: 1px solid #000;
        }

        table {
            width: 96%;
            font-size: 14px;
            color: #333;
            font-weight: 400;
            text-align: left;
            margin: auto;
        }

        .invoice_header {
            background: #3c8dbc;
            color: #fff;
            text-align: center;
            padding: 5px 0;
        }

        .border_bottom {
            border-bottom: 1px solid #000;
        }


        tr.border_bottom td {
            border-bottom: 1px solid black;
        }

        tr.border_top td {
            border-top: 1px solid black;
        }

        .para {
            width: 74%;
            margin-left: 81px;
            text-align: justify;
            margin-top: 10px;
        }

        .img_margin {
            margin: auto;
            display: block;
            width: 50%;
            /*border-bottom: 1px solid #7c7c7c;*/
        }

        .text-right {
            text-align: right !important;
        }

        .footer {
            height: 75px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .padding-zero {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        div#sizer {
            height: 500px;
        }
    </style>
    <title></title>
</head>

<body class="gray-bg" style="width: 800px; margin-left: auto; margin-right: auto;">
    <div class="row border-bottom white-bg dashboard-header" >
        <div style="border:1px solid #dedede; box-shadow: 0px 0px 5px #dddddd; padding:10px;">
            <div style="font-size: 14px; color: #333; font-weight: 400; font-family: Calibri;  margin-top: 10px;margin-bottom: 20px;border:thick">
                <div style="text-align:center">
                    <table style="border:none">
                        <tr>
                            <td class="invoice_header" valign="middle" style="padding:5px 10px 8px;height:30px;">
                                <label style="font-size:24px;" class="text_bold">FRONT OFFICE DAILY CASH SHEET ANALYSIS</label>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table style="border:none">
                        <tr>
                            <td>(1) Enter Data from Journal Payments Report</td>
                        </tr>
                        <tr>
                            <td>(2) Fill Lodgment Section this will update Actual for Cash/Chaques</td>
                        </tr>
                        <tr>
                            <td>(3) Enter Credit Card Batches</td>
                        </tr>
                        <tr>
                            <td>(4) Each Morning Run Report History Journal Payments 1-3 for previous day</td>
                        </tr>
                    </table>
                    <br />

                    <table style="border:1px solid #dedede;">
                        <tr>
                            <th style="padding: 5px 10px;">Date: @DateTime.Now.ToString("dd/MM/yyyy")</th> 
                            @*<th style="padding: 5px 10px;">@DateTime.Now.ToString("dd/MM/yyyy")</th>*@
                        </tr>
                    </table>
                    <br />
                    <table style="border:1px solid #dedede;">
                        <tr>
                            <th style="padding: 5px 10px;">Cashier No: @LogInManager.LoggedInUser.CashierNumber </th>
                            <th style="padding: 5px 10px;"></th>
                            <th style="padding: 5px 10px;">Early</th>
                            <th style="padding: 5px 10px;">1</th>
                        </tr>
                    </table>
                    <br />
                    <table style="border:1px solid #dedede;">
                        <tr>
                            <th style="padding: 5px 10px;border-right: 1px solid #ddd;width:200px;">Day </th>
                            <th></th>
                            <th style="padding: 5px 10px;text-align: right;">@Model.Day</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="padding: 0 10px 5px; border-right: 1px solid #ddd;width:200px;">Date </th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                            <th style="padding: 0 10px 5px;border-bottom: 1px solid #dedede;text-align: right;">@Model.Date</th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                        </tr>
                        <tr>
                            <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> </th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">Read</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">Actual</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">Difference</th>
                        </tr>

                        @foreach (var item in Model.Result)
                        {
                            <tr>
                                @if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.Cash))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Cash</th>
                                }
                                else if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.AmericanExpress))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> American Express</th>
                                }
                                else if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.Laser))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Laser</th>
                                }
                                else if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.Discover))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Discover</th>
                                }
                                else if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.Visa))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Visa</th>
                                }
                                else if (item.PaymentMethodId == Guid.Parse(PaymentMethodEnum.MasterCard))
                                {
                                    <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> MasterCard</th>
                                }
                                <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; @CurrencyManager.ParseAmountToUserCurrency(item.TotalAmount, LogInManager.CurrencyCode)</th>
                                <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; @CurrencyManager.ParseAmountToUserCurrency(item.TotalAmount, LogInManager.CurrencyCode)</th>
                                <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                            </tr>
                        }

                        @foreach (var item in ViewBag.NotInDailyCashSheetList)
                        {
                            if (item != "")
                            {
                                <tr>
                                    @if (item == PaymentMethodEnum.Cash)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Cash</th>
                                    }
                                    else if (item == PaymentMethodEnum.AmericanExpress)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> American Express</th>
                                    }
                                    else if (item == PaymentMethodEnum.Laser)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Laser</th>
                                    }
                                    else if (item == PaymentMethodEnum.Discover)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Discover</th>
                                    }
                                    else if (item == PaymentMethodEnum.Visa)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Visa</th>
                                    }
                                    else if (item == PaymentMethodEnum.MasterCard)
                                    {
                                        <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> MasterCard</th>
                                    }
                                    <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                                    <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                                    <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                                </tr>
                            }
                        }

                        <tr>
                            <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Total Business</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; @Model.SumOfTotalAmount</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; @Model.SumOfTotalAmount</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                        </tr>
                        <tr style="">
                            <th style="padding: 15px 10px 10px; border-right: 1px solid #ddd;width:200px;"> </th>
                            <th style="padding: 15px 10px 10px;border-bottom: 1px solid #dedede;"></th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                        </tr>
                        <tr>
                            <th style="padding: 5px 10px; border-right: 1px solid #ddd;width:200px;"> Slip No</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">0</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">0</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">Total</th>
                        </tr>
                        <tr>
                            <th style="padding: 5px 10px; border-right: 1px solid #ddd;"> Lodgement Amt(1 + 2)</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;border-right: 1px solid #ddd;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                            <th style="padding: 5px 10px;border-bottom: 1px solid #dedede;text-align: right;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 0.00</th>
                        </tr>
                        <tr style="">
                            <th style="padding: 5px 10px 20px; border-right: 1px solid #ddd;width:200px;"> Comment</th>
                            <th style="padding: 15px 10px 10px;border-bottom: 1px solid #dedede;"></th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                            <th style="border-bottom: 1px solid #dedede;"></th>
                        </tr>

                    </table>
                    <table style="border:1px solid #dedede;">
                        <tr>
                            <th style="padding: 15px 10px 10px;"> </th>
                            <th style="padding: 15px 10px 10px;"></th>
                        </tr>
                        <tr>
                            <th style="width:300px;font-size: 18px;padding: 5px 10px;"> FRONT OFFICE FLOAT BALANCE:</th>
                            <th style="padding: 5px 10px;font-weight:500; font-size: 16px;">@Html.Raw(LogInManager.CurrencySymbol) &nbsp; 215.54</th>
                        </tr>
                        <tr>
                            <th style="padding: 15px 10px 10px;"> </th>
                            <th style="padding: 15px 10px 10px;"></th>
                        </tr>
                        <tr>
                            <th style="padding: 15px 10px 10px;"> </th>
                            <th style="padding: 15px 10px 10px;"></th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</body>
</html>
