@model SuccessHotelierHub.Models.GuestRegistrationCardVM
@using SuccessHotelierHub.Utility
@{
    Layout = null;
    ViewBag.Title = "Guest Registration Card";

    var currencySymbol = LogInManager.CurrencySymbol;
}

<!DOCTYPE html>
<html>

<head>
    <style>
        p {
            text-align: center;
            font-weight: bold;
        }

        table,
        th,
        td {
            border-collapse: collapse;
            margin-top: 10px;
        }


        .td_padding {
            padding: 2px 10px;
        }
        .td_padding_v2 {
            padding: 2px 20px;
        }

        .text_bold {
            font-weight: bold;
        }

        thead {
            border: 1px solid #000;
        }

        table {
            width: 100%;
            font-size: 13px;
            color: #333;
            font-weight: 400;
            text-align: left;
            margin: auto;
        }

        .invoice_header {
            background: #221f20;
            color: #fff;
            text-align: center;
            padding: 5px 0;
        }

        .border_bottom {
            border-bottom: 0.5px solid #000;
        }

        tr.border_bottom td {
            border-bottom: 1px solid black;
        }

        tr.border_top td {
            border-top: 1px solid black;
        }

        .para {
            width: 74%;
            margin-left: 81px;
            text-align: justify;
            margin-top: 10px;
        }

        .img_margin {
            margin: auto;
            display: block;
            width: 175%;
            /*border-bottom: 1px solid #7c7c7c;*/
        }

        .text-right {
            text-align: right !important;
        }

        .footer {
            height: 75px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .padding-zero {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .txtbox {
            border: none;
            border-bottom: 1px solid #000;
            width: 85%;
            padding: 5px 0 2px;
        }

        .parkingbox {
            border: 1px solid #000;
            padding: 5px 50px;
            margin-right: 10px;
        }

        .confirmBox {
            border: 1px solid #000;
            padding: 0px 8px;
            margin-right: 10px;
        }
    </style>
    <title></title>
</head>

<body class="gray-bg" style="width: 800px; margin-left: auto; margin-right: auto;">
    <div class="row border-bottom white-bg dashboard-header">
        <div style="border:1px solid #dedede; box-shadow: 0px 0px 5px #dddddd; padding:0px;">
            <div style="font-size: 13px; color: #333; font-weight: 400; text-align: center; font-family: Calibri;  margin-top: 2px;margin-bottom: 2px;border:thick">

                <!-- Logo -->
                <table style="border:none">
                    <tr>
                        <td style="width:100%;text-align:center" align="center" class="td_padding">
                            <img src="http://www.tfshotelierhub.com/Content/img/invoice_logo.png" class="img_margin" />
                        </td>
                    </tr>
                </table>


                <!--  Heading -->
                <table style="border:none">
                    <tr>
                        <td class="invoice_header td_padding" valign="middle" style="padding-top:5px;height:40px;">
                            <label style="font-size:30px;" class="text_bold">Guest Registration Card</label>
                        </td>
                    </tr>
                </table>

                <br />

                <!-- Profile & Reservation Info -->
                <table style="border:none">
                    <tr>
                        <td class="td_padding" style="width:60%;text-align:left;border-right: 1px solid;" valign="top">
                            <table>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Name :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.Name
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Address :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.Address
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;"></td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.City
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td style="width:25%;"></td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.State
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Postcode :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.ZipCode
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Country :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.Country
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Email :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.Email
                                    </td>
                                </tr>
                                <tr height="28">
                                    <td class="td_padding" style="width:25%;">
                                        Phone :
                                    </td>
                                    <td style="width:70%;" class="border_bottom">
                                        @Model.PhoneNo
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td style="width:40%;" valign="top">
                            <table>
                                <tr height="20">
                                    <td class="td_padding">Room Number: @Model.RoomNumer</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Arrival Date: @Model.ArrivalDate</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Departure Date: @Model.DepartureDate</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Number of Nights: @Model.NoOfNights</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Room Type: @Model.RoomType</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Rate Per Night inc VAT: @(Html.Raw(string.Format("{0} {1}", currencySymbol, Utility.FormatAmountWithTwoDecimal(Model.Rate.Value))))</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Adults: @Model.NoOfAdult</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Children: @Model.NoOfChildren</td>
                                </tr>
                                @if (!string.IsNullOrWhiteSpace(Model.Preferences))
                                {   
                                    <tr height="20">
                                        <td class="td_padding">Preferences: @Model.Preferences</td>
                                    </tr>
                                }
                                @if (Model.Packages != null && Model.Packages.Count > 0)
                                {
                                    <tr height="20">
                                        <td>
                                            <table>
                                                <tr height="20">
                                                    <td class="td_padding"><b>Packages:</b></td>
                                                </tr>
                                                @foreach (var item in Model.Packages)
                                                {
                                                    var package = item.PackageName + " : " + (item.TotalAmount.HasValue ? string.Format("{0} {1}", currencySymbol, Utility.FormatAmountWithTwoDecimal(CurrencyManager.ParseAmountToUserCurrency(item.TotalAmount.Value, LogInManager.CurrencyCode))) : "");

                                                    <tr height="20">
                                                        <td class="td_padding_v2">@(Html.Raw(package))</td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr height="20">
                                    <td class="td_padding">Group Code:</td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding">Confirmation Number: @Model.ConfirmationNo</td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                </table>

                <br />

                <!-- Company Details -->
                <table style="border:1px solid #000;width:96%;padding-bottom:10px;">
                    <tr>
                        <td colspan="4" style="padding-top:10px;text-align:center;">
                            <b style="font-size:15px;">Company Details:</b>
                        </td>
                    </tr>
                    <tr height="25">
                        <td style="width:100%;" colspan="4" class="td_padding">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:10%;">
                                        Name :
                                    </td>
                                    <td style="width:50%;" class="border_bottom"></td>
                                    <td style="width:10%;" class="td_padding">
                                        Phone :
                                    </td>
                                    <td style="width:30%;" class="border_bottom"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="25">
                        <td style="width:100%;" colspan="4" class="td_padding">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:10%;margin-bottom:10px;">
                                        Address :
                                    </td>
                                    <td style="width:90%;" class="border_bottom"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_padding" colspan="4" style="color:#fff;">[Dummy Text]</td>
                    </tr>
                </table>

                <br />

                <!-- Overseas Visitors Details -->
                <table style="border:1px solid #000;width:96%;padding-bottom:10px;">
                    <tr>
                        <td colspan="4" style="padding-top:10px;text-align:center;">
                            <b style="font-size:15px;">Overseas Visitors:</b>
                        </td>
                    </tr>
                    <tr height="25">
                        <td style="width:100%;" colspan="4" class="td_padding">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:15%;margin-bottom:10px;">
                                        Passport No:
                                    </td>
                                    <td style="width:85%;" class="border_bottom"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="25">
                        <td style="width:100%;" colspan="4" class="td_padding">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:20%;">
                                        Country of Residence:
                                    </td>
                                    <td style="width:40%;" class="border_bottom"></td>
                                    <td style="width:15%;padding-left:5px;">
                                        Place of Issue:
                                    </td>
                                    <td style="width:25%;" class="border_bottom"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_padding" colspan="4" style="color:#fff;">[Dummy Text]</td>
                    </tr>
                </table>

                <br />

                <table>
                    <tr>
                        <td style="width:61%;" valign="top">
                            <!-- Car Parking -->
                            <table style="border:1px solid #000;">
                                <tr height="25">
                                    <td colspan="2" style="padding-top:10px;padding-bottom:10px;text-align:center;">
                                        <b style="font-size:15px;">Car Parking:</b>
                                    </td>
                                </tr>
                                <tr height="25">
                                    <td style="width:30%;" class="td_padding">
                                        Car Registration Number:
                                    </td>
                                    <td style="width:50%;" class="border_bottom">
                                        @Model.CarRegistrationNo
                                    </td>
                                </tr>
                                <tr height="25">
                                    <td class="td_padding" colspan="2" style="padding-top:10px;">
                                        <table style="width:100%;">
                                            <tr height="25">
                                                <td style="width:40%;">
                                                    How long are you parking?
                                                </td>
                                                <td style="width:30%;border:0.5px solid #000;"></td>
                                                <td style="width:30%;padding-left:10px;">Day(s)</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="15">
                                    <td class="td_padding" colspan="2" style="color:#fff;">[Dummy Text]</td>
                                </tr>
                            </table>

                            <br />
                            <br />

                            <!-- Wake Up Call -->
                            <table style="border:1px solid #000;">
                                <tr height="25">
                                    <td colspan="2" style="padding-top:10px;padding-bottom:10px;text-align:center">
                                        <b style="font-size:15px;">Wake Up Call</b>
                                    </td>
                                </tr>
                                <tr height="25">
                                    <td class="td_padding" style="width:8%;">
                                        Time:
                                    </td>
                                    <td style="width:80%;padding:2px 10px;" class="border_bottom"> </td>
                                </tr>
                                <tr height="20">
                                    <td class="td_padding" colspan="2" style="padding-top:15px;">
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="width:60%;">
                                                    Do you want this everyday of your stay?
                                                </td>
                                                <td style="border:0.5px solid #000;width:8%"></td>
                                                <td style="width:10%;padding-left:5px;">Yes</td>
                                                <td style="border:0.5px solid #000;width:8%"></td>
                                                <td style="width:10%;padding-left:5px;">No</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="15">
                                    <td class="td_padding" colspan="2" style="color:#fff;">[Dummy Text]</td>
                                </tr>
                            </table>

                            <br />
                            <br />
                            <!-- Signature -->
                            <table>
                                <tr height="25">
                                    <td style="width:15%;">
                                        Signature:
                                    </td>
                                    <td style="width:80%;" class="border_bottom"></td>
                                </tr>
                            </table>
                        </td>


                        <td style="padding-left:10px;width: 39%;" valign="top">
                            <!--Additional Notes-->
                            <div style="width:100%;">
                                <p style="text-align: justify;font-weight: bold;font-size: 15px;margin-bottom: 0;margin-top: 0;">Valuables </p>
                                <p style="text-align:justify;margin-top:7px;font-weight: normal;">Valuables may be deposited with us for safekeeping. Our liability is limited if they are left in guest bedrooms.</p>
                            </div>
                            <div style="width:100%;">
                                <p style="text-align: justify;font-weight: bold;font-size: 15px;margin-bottom: 0;margin-top: 0;">Payment </p>
                                <p style="text-align:justify;margin-top:7px;font-weight: normal;">Accounts are payable on presentation. Credit facilities are available only by prior arrangement. We accept all major credit cards and personal cheques drawn on Irish banks upto the value supported by a cheque guarantee card. We reserve the right to charge you credit card the full balance of your account</p>
                            </div>
                            <div style="width:100%;">
                                <p style="text-align: justify;font-weight: bold;font-size: 15px;margin-bottom: 0;margin-top: 0;">Check Out Time </p>
                                <p style="text-align:justify;margin-top:7px;font-weight: normal;margin-bottom:0">Check out time is 12 noon</p>
                                <p style="text-align:justify;margin-top:7px;font-weight: normal;">Please advise reception if you wish to stay later.</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</body>

</html>