@model SuccessHotelierHub.Models.ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
}

<section class="content-header">
    <h1>
        Change Password
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>        
        <li class="active">Change Password</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Change Password Details</h3>
        </div>
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "frmChangePassword", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!--HIDDEN FIELD-->
            @Html.HiddenFor(m => m.UserId)
            <!--HIDDEN FIELD-->

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "password", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return changePassword();">Change Password</button>
                <a href="@Url.Action("Default", "Home")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateChangePassword() {

        var blnValid = true;

        if ($("#frmChangePassword").valid() == false) {
            showToaster("Please fill all the Required Fields first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function changePassword() {

        if (validateChangePassword()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/User/ChangePassword")',
                type: 'POST',
                data: $('#frmChangePassword').serialize(),
                success: function (response) {
                    if (!IsNullOrEmpty(response)) {
                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {
                            showToaster("User password changed successfully", ToasterType.SUCCESS);

                            setTimeout(function () {
                                redirectTo('@Url.Content("~/User/ChangePassword")');
                            }, 1000);
                        }
                    }
                }
            });
            return false;
        }
    }
</script>
