@model SuccessHotelierHub.Models.SearchUserDetailParametersVM
@{
    ViewBag.Title = "Search Student";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "UserGrid";
}

<section class="content-header">
    <h1>
        Student <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Student</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Student</h3>
            @if (LogInManager.HasRights("ADMIN"))
            {
                <div class="pull-right box-tools">
                    <a href="@Url.Action("Create", "User")"
                       class="btn btn-info btn-sm" style="color: #fff">Add Student</a>
                </div>
            }
        </div>
        <form class="frmUserList" id="frmUserList" name="frmUserList" enctype="multipart/form-data" method="post">
            <div class="box-body box-body-list">
                <div class="pt_10 pl_10 pr_10 searchBox_Border">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.CollegeGroupId)
                            @Html.DropDownListFor(m => m.CollegeGroupId,
                                (IEnumerable<SelectListItem>)ViewBag.CollegeGroupList, "-- College Group --",
                                htmlAttributes: new { @class = "form-control", onchange = "loadTutorDetail();" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.TutorId)
                            @Html.DropDownList("TutorId", new List<SelectListItem>
                            {
                                    new SelectListItem{ Text="-- Tutor --", Value = "" }
                            },
                            htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group m-t-sm">
                            <label class="container1" for="IsFromRegistrationPage">
                                From Registration Page
                                @Html.CheckBoxFor(m => m.IsFromRegistrationPage)
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-md-3 form-group m-t-sm">
                            <label class="container1" for="IsViewAll">
                                View All Students
                                @Html.CheckBoxFor(m => m.IsViewAll)
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <button type="button" id="btnSearch" class="btn btn-success m-r-xs" onclick="searchUser()">Search</button>
                            <button type="button" id="btnClear" class="btn btn-danger" onclick="clearUser()">Clear</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 padding-zero m-t" id="divMultipleAction" style="display:none;">
                    <div class="row text-left">
                        <div class="col-md-2">
                            <button type="button" id="btnSendEmail" class="btn bg-orange btn-sm" onclick="sendEmailToMultipleUser();">Send Credentials</button>
                        </div>
                        <div class="col-md-6 user-list-radio">
                            <label class="container_radio" for="rbIsPending">
                                <span>Pending</span>
                                <input type="radio" class="cursor-P flat-red" id="rbIsPending" name="IsLoginCredentialSent" checked value="false">
                                <span class="checkmark_radio"></span>
                            </label>
                            <label class="container_radio ml-35" for="rbIsSent">
                                <span>Sent</span>
                                <input type="radio" class="cursor-P flat-red" id="rbIsSent" name="IsLoginCredentialSent" value="true">
                                <span class="checkmark_radio"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 padding-zero m-t-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblUser">
                            <thead>
                                <tr>
                                    <th class="width_5">
                                        <label class="container1" for="chkAllUser">
                                            <input type="checkbox" class="chkAllUser" id="chkAllUser" name="chkAllUser" value="All">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th class="width_15">College Group</th>
                                    <th class="width_10">Tutor</th>
                                    <th class="width_10">Name</th>
                                    <th class="width_20">Email</th>
                                    <th class="width_5">Status</th>
                                    <th class="width_10">Password</th>
                                    <th class="width_25">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-left" id="divPaging">
                        @Html.Partial("_Pagination", new SuccessHotelierHub.Models.PaginationVM() { TokenForEnableDisableButtons = PagerName, PageChangeMethod = "UserGridPageChange" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">
    var currentPage = 1;
    var grdUser;
    var selectedUserIds = [];

    $(document).ready(function () {
        setTimeout(InitializeUserGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });

        //Checkbox all change event.
        $("#chkAllUser").change(function () {
            if (this.checked) {
                $('.chkUser').prop("checked", true).trigger("change");
            } else {
                //$('.chkUser').prop("checked", false).trigger("change");
                ClearUserIdsArray();
            }
        });

        //Email Pending / Sent Change event.
        $("input[name=IsLoginCredentialSent]").change(function(e){
            searchUser();
        });
    });


    function SearchUserParameters(d) {
        var name = $('#Name').val();
        var email = $('#Email').val();
        var collegeGroupId = $('#CollegeGroupId').val();
        var tutorId = $('#TutorId').val();
        var isFromRegistrationPage = $('#IsFromRegistrationPage').prop('checked');
        var isViewAll = $('#IsViewAll').prop('checked');
        var emailStatus =  $('input[name=IsLoginCredentialSent]:checked').val();
        var isLoginCredentialSent = parseBoolean(emailStatus);


        d.PageNum = currentPage;
        d.Name = name;
        d.Email = email;
        d.CollegeGroupId = collegeGroupId;
        d.TutorId = tutorId;
        d.IsFromRegistrationPage = isFromRegistrationPage;
        d.IsLoginCredentialSent = isLoginCredentialSent;
        d.IsViewAll = isViewAll;
    }

    function UserGridDataBound(response) {
        if (response.IsSuccess == true) {
            var isViewAll = $('#IsViewAll').prop('checked');
            if(isViewAll == false){
                $('#divPaging').show();
                @("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);
            }else{
                $('#divPaging').hide();
            }

            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadUserGrid() {
        grdUser.ajax.url("@Url.Content("~/User/Search")").load();
    }

    function UserGridPageChange(cPage) {
        currentPage = cPage;
        ReloadUserGrid();
    }


    function InitializeUserGrid() {
        grdUser = $('#tblUser').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();

                    var isFromRegistrationPage = $('#IsFromRegistrationPage').prop('checked');
                    if(isFromRegistrationPage){
                        grdUser.column(0).visible(true); //Show check box.
                        BindCheckBoxUserChangeEvent();
                    }else{
                        grdUser.column(0).visible(false); //Hide check box.
                    }

                },
                url: '@Url.Content("~/User/Search")',
                data: SearchUserParameters,
                dataSrc: UserGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: false,
                //visible: $('#IsFromRegistrationPage').prop('checked') == true ? true : false,
                render: function (data, type, full, meta) {
                    var chkBox = "";
                    var checked = "";
                    if (selectedUserIds != null && selectedUserIds.length > 0) {
                        if (arrayContains(full.Id, selectedUserIds) == true) {
                            checked = "checked";
                        }
                    }

                    chkBox += "<label class='container1' for='chkUser_" + full.Id + "'>";
                    chkBox += "<input type='checkbox' class='chkUser' id='chkUser_" + full.Id + "' name='chkUser_" + full.Id + "' value='" + full.Id + "' " + checked + "/>";
                    chkBox += "<span class='checkmark'></span> </label>";
                    return chkBox;
                }
            },
            {
                targets: 1,
                data: "CollegeGroupName",
                orderable: true
            },
            {
                targets: 2,
                data: "TutorName",
                orderable: true
            },
            {
                targets: 3,
                data: "Name",
                orderable: true
            },
            {
                targets: 4,
                data: "Email",
                orderable: true
            },
            {
                targets: 5,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 6,
                data: "Password",
                orderable: false
            },
            {
                targets: 7,
                data: "Id",
                orderable: false,
                className: "text-left-align",
                "visible": @((bool)LogInManager.HasRights("ADMIN") ? 1: 0),
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoUserEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs font_11">Edit</a> '
                        + '<a href="javascript:void(0);" onclick="CreateNewPassword(\'' + full.Id + '\')" '
                        + ' class="btn btn-primary btn-xs font_11">Generate Password</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs font_11"'
                        + ' onclick="deleteUser(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[3, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoUserEdit(Id) {
        var url = '@Url.Content("~/User/Edit/")' + Id;
        redirectTo(url);
    }

    function GotoUserChangePassword(Id) {
        var url = '@Url.Content("~/User/ChangePassword/")' + Id;
        redirectTo(url);
    }

    function CreateNewPassword(Id) {
        //Ajax request to  create new password.
        $.ajax({
            beforeSend: function (xhr) {
                showLoader();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                ShowErrorMessage(jqXHR.status, errorThrown);
            },
            complete: function () {
                hideLoader();
            },
            url: '@Url.Content("~/User/CreateNewPassword")',
            type: 'POST',
            data: { id: Id },
            success: function (response) {
                if(response != null){
                    if (response.IsSuccess == true) {
                        showToaster("New password created successfully.", ToasterType.SUCCESS);
                        //searchUser();
                        ReloadUserGrid();
                    }
                    else {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                }
            }
        });
    }

    function searchUser() {
        currentPage = 1;
        ClearUserIdsArray();

        var isFromRegistrationPage = $('#IsFromRegistrationPage').prop('checked');
        if(isFromRegistrationPage){
            $('#divMultipleAction').show();
        }else{
            $('#divMultipleAction').hide();
        }

        ReloadUserGrid();
    }

    function clearUser() {
        $('#CollegeGroupId').val('');
        $('#Name').val('');
        $('#Email').val('');
        $('#TutorId').val('');
        $('#IsFromRegistrationPage').prop('checked', false);
        $('#rbIsPending').prop('checked', true);

        selectedUserIds = [];
        $('#chkAllUser').prop("checked", false);

        $('#IsViewAll').prop('checked', false);
        searchUser();
    }

    function deleteUser(item, e, id) {

        swal({
            title: 'Are you sure you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ShowErrorMessage(jqXHR.status, errorThrown);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/User/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {

                            var tr = $('#tblUser  tbody tr#' + id)
                            var row = grdUser.row(tr);
                            var rowNode = row.node();
                            row.remove();
                            grdUser.draw();

                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        });
    }

    /************** Send Credentials in Email : START *******************/

    function BindCheckBoxUserChangeEvent() {
        $(".chkUser").change(function () {
            if (this.checked) {
                AddUserIdIntoArray($(this).val());
            } else {
                RemoveUserIdFromArray($(this).val());
            }
        });
    }

    function AddUserIdIntoArray(id) {
        if (!IsNullOrEmpty(id)) {
            selectedUserIds.push(id);
        }
    }

    function RemoveUserIdFromArray(id) {
        if (!IsNullOrEmpty(id)) {
            selectedUserIds = RemoveArrayItemByValue(id, selectedUserIds);
        }
    }

    function ClearUserIdsArray() {
        selectedUserIds = [];
        $(".chkUser").prop("checked", false);
        $("#chkAllUser").prop("checked", false);
    }

    function sendEmailToMultipleUser() {

        if (selectedUserIds != null && selectedUserIds.length > 0) {
            //Ajax request to send credentials in email.
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                async:true,
                url: '@Url.Content("~/User/SendLoginCredentials")',
                type: 'POST',
                data: { ids: selectedUserIds },
                success: function (response) {
                    if(!IsNullOrEmpty(response)) {
                        if (response.IsSuccess == true) {

                            //ClearUserIdsArray();
                            clearUser();

                            var msg = response.data;
                            showToaster(msg, ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                }
            });
        } else {
            showToaster("Please select at least one checkbox to send email.", ToasterType.ERROR);
        }
    }
    /************** Send Credentials in Email : END *******************/

    function loadTutorDetail() {
        var collegeGroupId = $('form#frmUserList #CollegeGroupId').val();

        if (!IsNullOrEmpty(collegeGroupId)) {
            //Call ajax to get tutor details by college group id.
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/User/GetTutorDetailByCollegeGroupId")',
                type: 'GET',
                data: {
                    collegeGroupId: collegeGroupId
                },
                success: function (result) {
                    if (!IsNullOrEmpty(result)) {
                        var optionHtml = "";
                        optionHtml += "<option value=''>-- Tutor --</option>";
                        if (result.IsSuccess == true) {
                            for (i = 0; i < result.data.length; i++) {
                                optionHtml += "<option value='" + result.data[i].Id + "'>" + result.data[i].Name + "</option>";
                            }
                        }
                        $('form#frmUserList #TutorId').html(optionHtml);
                    }
                }
            });
        } else {
            //Remove all <option> items from dropdown except first <option> item.
            $('form#frmUserList #TutorId').html("");
            $('form#frmUserList #TutorId').append($("<option></option>").val("").html("-- Tutor --"));
        }
    }

</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}