@model SuccessHotelierHub.Models.RoomTypeRateTypeMappingVM
@{
    ViewBag.Title = "Create Rate";
}


<section class="content-header">
    <h1>
        Rate <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Rate</li>
        <li class="active">Create</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Rate Details</h3>
        </div>
        @using (Html.BeginForm("Create", "Rate", FormMethod.Post, new { id = "frmRate", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.RoomTypeId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.RoomTypeId,
                                            new SelectList((IEnumerable<SelectListItem>)ViewBag.RoomTypeList, "Value", "Text"),
                                            "Select Room Type",
                                            new { @class = "form-control form-group" })
                        @Html.ValidationMessageFor(m => m.RoomTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.RateTypeId, new { @class = "required-label" })
                        @Html.DropDownListFor(m => m.RateTypeId,
                                            new SelectList((IEnumerable<SelectListItem>)ViewBag.RateTypeList, "Value", "Text"),
                                            "Select Rate Type",
                                            new { @class = "form-control form-group" })
                        @Html.ValidationMessageFor(m => m.RateTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Amount, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-group form-control", placeholder = "Amount", onkeypress = "onlyNumeric(event);" })
                        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-group form-control", placeholder = "Description", rows = "3" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveRate();">Save</button>
                <a href="@Url.Action("List", "Rate")" c class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>




<script type="text/javascript">
    function validateRate() {
        var errorMessage = "";
        var blnValid = true;

        if ($("#frmRate").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function saveRate() {

        if (validateRate()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Rate/Create")',
                type: 'POST',
                data: $('#frmRate').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Rate details saved successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            //redirectTo('/Rate/List');
                            redirectTo('@Url.Content("~/Rate/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>
