@model SuccessHotelierHub.Models.RateTypeVM
@{
    ViewBag.Title = "Create Rate Type";
}

<section class="content-header">
    <h1>
        Rate Type <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Rate Type</li>
        <li class="active">Create</li>
    </ol>
</section>


<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Rate Type Details</h3>
        </div>
        @using (Html.BeginForm("Create", "RateType", FormMethod.Post, new { id = "frmRateType", enctype = "multipart/form-data" }))
        {
                
            @Html.AntiForgeryToken()

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.RateTypeCode, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.RateTypeCode, new { @class = "form-control", placeholder = "Rate Type Code" })
                        @Html.ValidationMessageFor(m => m.RateTypeCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Amount, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Amount", onkeypress = "onlyNumeric(event);" })
                        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>
                    <div class="col-md-6 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveRateType();">Save</button>
                <a href="@Url.Action("List", "RateType")" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateRateType() {
        //var rateTypeCode = $("#RateTypeCode").val();
        //var amount = $("#Amount").val();

        var errorMessage = "";
        var blnValid = true;

        //if (IsNullOrEmpty(rateTypeCode)) {
        //    errorMessage += "Please enter rate type code." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}
        //if (IsNullOrEmpty(amount)) {
        //    errorMessage += "Please enter amount." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}

        //if (!blnValid) {
        //    showToaster(errorMessage, ToasterType.ERROR);
        //    return false;
        //}

        if ($("#frmRateType").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function saveRateType() {

        if (validateRateType()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/RateType/Create")',
                type: 'POST',
                data: $('#frmRateType').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Rate Type details saved successfully", ToasterType.SUCCESS);

                        setTimeout(function () {                            
                            redirectTo('@Url.Content("~/RateType/List")');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>