@model SuccessHotelierHub.Models.RateTypeVM
@using SuccessHotelierHub.Utility
@{
    ViewBag.Title = "Create Rate Type";

    var sourceParam = Convert.ToString(Request.QueryString["source"]);
    var btnCancelUrl = Url.Action("List", "RateType");
}

<section class="content-header">
    <h1>
        Rate Type <small>Create</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="javascript:void(0);" onclick="setCurrentMenu('Dashboard','@Url.Content("~/Home/Index")');"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Rate Type</li>
        <li class="active">Create</li>
    </ol>
</section>


<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Rate Type Details</small></h3>
        </div>
        @using (Html.BeginForm("Create", "RateType", FormMethod.Post, new { id = "frmRateType", enctype = "multipart/form-data" }))
        {
                
            @Html.AntiForgeryToken()

             <!--HIDDEN FIELD-->
            <input type="hidden" id="Source" name="Source" value="@sourceParam" />
            <!--HIDDEN FIELD-->

            <div class="box-body pt_10 pb-0">
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(m => m.RateTypeCode, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.RateTypeCode, new { @class = "form-control", placeholder = "Rate Type Code" })
                        @Html.ValidationMessageFor(m => m.RateTypeCode, "", new { @class = "text-danger" })
                    </div>
               
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = "3" })
                    </div>
                    <div class="col-md-3 form-group m-t-lg">
                        <label class="container1" for="IsLeisRateType">
                            LEIS Rate Type
                            @Html.CheckBoxFor(m => m.IsLeisRateType)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-3 form-group m-t-lg">
                        <label class="container1" for="IsActive">
                            Is Active
                            @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked" })
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success m-r-xs" onclick="return saveRateType();">Save</button>
                <a href="@btnCancelUrl" class="btn btn-danger">Cancel</a>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateRateType() {
        var errorMessage = "";
        var blnValid = true;

        if ($("#frmRateType").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function saveRateType() {

        if (validateRateType()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/RateType/Create")',
                type: 'POST',
                data: $('#frmRateType').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Rate Type details saved successfully", ToasterType.SUCCESS);

                        if (response.IsExternalUrl) {
                            redirectTo(response.data);
                        }
                        else {
                            setTimeout(function () {
                                redirectTo('@Url.Content("~/RateType/List")');
                            }, 1000);
                        }
                    }
                }
            });
            return false;
        }
    }
</script>