@model SuccessHotelierHub.Models.RateTypeVM
@{
    ViewBag.Title = "Edit Rate Type";
}

<section class="content-header">
    <h1>
        Rate Type <small>Edit</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Rate Type</li>
        <li class="active">Edit</li>
    </ol>
</section>


<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Rate Type Details</h3>
        </div>
        @using (Html.BeginForm("Edit", "RateType", FormMethod.Post, new { id = "frmRateType", enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <!--HIDDEN FIELD-->
            @Html.HiddenFor(m => m.Id)
            <!--HIDDEN FIELD-->

            <div class="box-body">
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="RateTypeCode" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">
                        Rate Type *
                    </label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        @Html.TextBoxFor(m => m.RateTypeCode, new { @class = "form-group form-control", placeholder = "Rate Type Code" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="Description" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Description</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-group form-control", placeholder = "Description", rows = "3" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="Amount" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Amount *</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-group form-control", placeholder = "Amount" , onkeypress = "onlyNumeric(event);" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero ">
                    <label for="IsActive" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Is Active</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        <label class="col-md-4 col-sm-4 col-xs-6 container1">
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="hr_margin" />
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero m-b-sm">
                    <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9 col-xs-12 padding-zero">
                        <button type="button" class="btn btn-success m-r-xs" onclick="return updateRateType();">Update</button>
                        <a href="@Url.Action("List", "RateType")" c class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    function validateRateType() {
        //var rateTypeCode = $("#RateTypeCode").val();
        //var amount = $("#Amount").val();

        var errorMessage = "";
        var blnValid = true;

        //if (IsNullOrEmpty(rateTypeCode)) {
        //    errorMessage += "Please enter rate type code." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}
        //if (IsNullOrEmpty(amount)) {
        //    errorMessage += "Please enter amount." + Delimeter.BREAKLINE + "";
        //    blnValid = false;
        //}

        //if (!blnValid) {
        //    showToaster(errorMessage, ToasterType.ERROR);
        //    return false;
        //}

        if ($("#frmRateType").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            blnValid = false;
        }

        return blnValid;
    }


    function updateRateType() {

        if (validateRateType()) {
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/RateType/Edit")',
                type: 'POST',
                data: $('#frmRateType').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("Rate Type details updated successfully", ToasterType.SUCCESS);

                        setTimeout(function () {
                            redirectTo('/RateType/List');
                        }, 1000);
                    }
                }
            });
            return false;
        }
    }
</script>