@model SuccessHotelierHub.Models.UserVM
@using SuccessHotelierHub.Models
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
Html, body{
	min-height:100% !important;
    position: relative;    
}
</style>

<div id="image-head" class="image-head grandParentContaniner">
    <div class="centering-hack parentContainer">

        <div class="register-box register-box-margin">
            <div class="register-logo">
                <a href="#"><b>Hotelier </b>Hub</a>
            </div>
            <div class="register-box-body">
                <p class="login-box-msg">Register with Hotelier Hub</p>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "frmRegister", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="alert alert-success" id="dvAlert" role="alert" style="display: none">
                            <button type="button" class="close" aria-label="Close" onclick="$('.alert').fadeOut('slow');"><span>&times;</span></button>
                            <span id="spMessage"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Name, new { @class = "required-label" }) *
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name *" })
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Address, new { @class = "required-label" })
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @rows = "3", placeholder = "Address" })
                        <span class="fa fa-address-card form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Email, new { @class = "required-label" }) *
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email *" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.TelephoneNo, new { @class = "required-label" })
                        @Html.TextBoxFor(m => m.TelephoneNo, new { @class = "form-control", placeholder = "Telephone Number" })
                        <span class="fa fa-phone form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.CollegeGroupId, new { @class = "required-label" }) *
                        @Html.DropDownListFor(m => m.CollegeGroupId,
                                (IEnumerable<SelectListItem>)ViewBag.CollegeGroupList, "-- Select College Group --",
                                htmlAttributes: new { @class = "form-control", onchange = "loadTutorDetail();" })
                        @Html.ValidationMessageFor(m => m.CollegeGroupId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.TutorId, new { @class = "required-label" }) *
                        @Html.DropDownList("TutorId", new List<SelectListItem>
                        {
                                new SelectListItem{ Text="-- Select Tutor --", Value = "" }
                        },
                        htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TutorId, "", new { @class = "text-danger" })
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary btn-block btn-flat" id="btnRegister" onclick="saveUserDetail();">Register</button>
                        </div>
                        @*<div class="col-xs-12 m-t-sm">
                                <a href="@Url.Action("Login","Account")" class="text-center">I already have a login</a>
                            </div>*@
                    </div>                   
                }

            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.register-box -->

        <!-- For Mobile View -->
        <div class="visible-xs hidden-md hidden-sm row text-center m-b-sm m-t-sm">
            <div>
                <!-- TFS Footer Logo -->
                <a href="https://www.trainingforsuccess.ie/" target="_blank">
                    <img src="https://tfshotelierhub.com/Content/img/tfs_logo.png" width="100" class="m-r" alt="Training For Success" title="Training For Success" />
                </a>

                <!-- IAOT Logo  -->
                <a href="https://www.iaot.net/" target="_blank">
                    <img src="https://tfshotelierhub.com/Content/img/iaot_logo_white.png" width="200" class="" alt="International Academy of Travel" title="International Academy of Travel" />
                </a>
            </div>
        </div>
    </div>

    <!-- For Desktop View -->
    <div class="hidden-xs visible-lg visible-md visible-sm">
        <div class="login-bottom-logo">
            <!-- TFS Footer Logo -->
            <a href="https://www.trainingforsuccess.ie/" target="_blank">
                <img src="https://tfshotelierhub.com/Content/img/tfs_logo.png" width="100" class="m-r" alt="Training For Success" title="Training For Success" />
            </a>

            <!-- IAOT Logo  -->
            <a href="https://www.iaot.net/" target="_blank">
                <img src="https://tfshotelierhub.com/Content/img/iaot_logo_white.png" width="200" class="" alt="International Academy of Travel" title="International Academy of Travel" />
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">

    function validateUserDetail() {

        var errorMessage = "";
        var blnValid = true;
        if ($("#frmRegister").valid() == false) {
            showToaster("Please fill all the required field", ToasterType.ERROR);
            blnValid = false;
        }
        return blnValid;
    }

    function clearUserDetail() {
        $('form#frmRegister #Name').val('');
        $('form#frmRegister #Address').val('');
        $('form#frmRegister #Email').val('');
        $('form#frmRegister #TelephoneNo').val('');
        $('form#frmRegister #CollegeGroupId').val('');
        $('form#frmRegister #TutorId').val('');        

        hideAlert_V2(30000);
    }

    function loadTutorDetail() {
        var collegeGroupId = $('form#frmRegister #CollegeGroupId').val();

        if (!IsNullOrEmpty(collegeGroupId)) {
            //Call ajax to get tutor details by college group id.
            $.ajax({
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/User/GetTutorDetailByCollegeGroupId")',
                type: 'GET',
                data: {
                    collegeGroupId: collegeGroupId
                },
                success: function (result) {
                    if (!IsNullOrEmpty(result)) {
                        var optionHtml = "";
                        optionHtml += "<option value=''>-- Select Tutor --</option>";
                        if (result.IsSuccess == true) {
                            for (i = 0; i < result.data.length; i++) {
                                optionHtml += "<option value='" + result.data[i].Id + "'>" + result.data[i].Name + "</option>";
                            }
                        }
                        $('form#frmRegister #TutorId').html(optionHtml);
                    }
                }
            });
        } else {
            //Remove all <option> items from dropdown except first <option> item.
            $('form#frmRegister #TutorId').html("");
            $('form#frmRegister #TutorId').append($("<option></option>").val("").html("-- Select Tutor --"));
        }
    }

    function saveUserDetail() {

        if (validateUserDetail()) {
            $.ajax({
                beforeSend: function (xhr) {
                    $('#btnRegister').html('<span>Processing <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    ShowErrorMessage(jqXHR.status, errorThrown);
                },
                complete: function () {
                    $('#btnRegister').html('Register');
                },
                url: '@Url.Content("~/Account/Register")',
                type: 'POST',
                data: $('#frmRegister').serialize(),
                success: function (response) {
                    if (!IsNullOrEmpty(response)) {
                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {
                            var email = $('form#frmRegister #Email').val();

                            var msg = "";
                            msg += "<span>Thank you for registering on TFS Hotelier Hub.</span><br/><br/>";
                            msg += "<span>The administrator will email you a password within one working day.</span>"
                            //msg = "You will get an invitation email shortly from the administration at your <a href='mailto:" + email + "'>" + email + " </a> mail account. Thanks!";
                            showAlert(msg, Alert.SUCCESS);

                            clearUserDetail();
                        }
                    }
                }
            });
            return false;
        }
    }
</script>
