@model SuccessHotelierHub.Models.UserVM
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Hotelier</b>Hub</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register with Hotelier Hub</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id="frmRegister", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })      
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="row text-center">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary btn-block btn-flat" id="btnRegister" onclick="saveUserDetail();">Register</button>
                </div>
                <div class="col-xs-12 m-t-sm">
                    <a href="@Url.Action("Login","Account")" class="text-center">I already have a login</a>
                </div>
                <!-- /.col -->
            </div>
        }
        
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->



<script type="text/javascript">
    function validateUserDetail() {

        var errorMessage = "";
        var blnValid = true;
        if ($("#frmRegister").valid() == false) {
            showToaster("Please fill all the required field", ToasterType.ERROR);
            blnValid = false;
        }
        return blnValid;
    }


    function saveUserDetail() {

        if (validateUserDetail()) {
            $.ajax({
                beforeSend: function (xhr) {
                    $('#btnRegister').html('<span>Processing <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>');
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    $('#btnRegister').html('Register');
                },
                url: '@Url.Content("~/Account/Register")',
                type: 'POST',
                data: $('#frmRegister').serialize(),
                success: function (response) {
                    if (response.IsSuccess == false) {
                        showToaster(response.errorMessage, ToasterType.ERROR);
                    }
                    else {
                        showToaster("You have registered successfully.", ToasterType.SUCCESS);

                        redirectTo('@Url.Content("~/Account/Login")');                        
                    }
                }
            });
            return false;
        }
    }
</script>