@model SuccessHotelierHub.Models.CheckInPaymentMethodVM
@using SuccessHotelierHub.Utility
@using SuccessHotelierHub.Models

@{
    var sourceRedirectionParam = "";
    sourceRedirectionParam = (string)ViewData["Source"];

    var arrivalDate = (string)ViewData["ArrivalDate"];
    var departureDate = (string)ViewData["DepartureDate"];
}

<link rel="stylesheet" href="~/Content/css/AdminLTE/input-mask/masking-input.css" type="text/css" />

<form id="frmCheckInPayment" name="frmCheckInPayment" enctype="multipart/form-data" method="post">

    <!-- HIDDEN FIELD -->
    @Html.HiddenFor(m => m.ReservationId)
    @Html.HiddenFor(m => m.ProfileId)
    @Html.HiddenFor(m => m.RoomIds)
    @Html.HiddenFor(m => m.NoOfRoom)
    @Html.HiddenFor(m => m.RoomTypeId)
    <input type="hidden" id="hdnArrivalDate" name="hdnArrivalDate" value="@arrivalDate" />
    <input type="hidden" id="hdnDepartureDate" name="hdnDepartureDate" value="@departureDate" />
    <!-- HIDDEN FIELD -->
    @*<div class="pt_10 pl_10 pb_10 pr_10 searchBox_Border">*@
    <div class="row">
        <div class="col-md-6 col-sm-3 col-xs-12 form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
        </div>
        <div class="col-md-6 col-sm-3 col-xs-12 form-group">
            @Html.LabelFor(m => m.RoomNumbers)
            <div class="input-group">
                @Html.TextBoxFor(m => m.RoomNumbers, new
               {
                   @class = "form-control",
                   placeholder = "Room #",
                   @readonly = "readonly"
               })
                <div class="input-group-addon cursor-P" onclick="openRoomSearchModal();">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-3 col-xs-12 form-group">
            @Html.LabelFor(m => m.CheckInDate, new { @class = "required-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.CheckInDate, "{0:dd/MM/yyyy}", new { @class = "form-control", placeholder = "dd/MM/yyyy" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.CheckInDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 col-sm-3 col-xs-12 form-group">
            <div class="bootstrap-timepicker">
                @Html.LabelFor(m => m.CheckInTimeText)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.CheckInTimeText, new { @class = "form-control", placeholder = "hh:mm tt" })
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.PaymentMethodId)
            @Html.DropDownListFor(m => m.PaymentMethodId,
                                new SelectList((IEnumerable<SelectListItem>)ViewData["PaymentMethodList"], "Value", "Text"),
                                "--Select Payment Method--",
                                new { @class = "form-control", onchange = "SelectPaymentMethod();" })
            @Html.ValidationMessageFor(m => m.PaymentMethodId, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-4 divCreditCardInfo">
            @Html.LabelFor(m => m.CreditCardNo)
            @Html.TextBoxFor(m => m.CreditCardNo, new { @class = "form-control", placeholder = "Credit Card #", onkeydown = "onlyDigits(event)" })
        </div>
        <div class="col-md-4 divCreditCardInfo divCardExpiryDate">
            @Html.LabelFor(m => m.CardExpiryDate)
            <input id="CardExpiryDate" name="CardExpiryDate" type="text" placeholder="MM/YY" class="masked form-control" pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)" value="@Model.CardExpiryDate"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 form-group mt_25 text-right">
            <button type="button" class="btn btn-success m-r-xs btnCheckInOk" id="btnCheckInOk">OK</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClose">Close</button>
        </div>
        <div class="clearfix"></div>
    </div>
    @*</div>*@
</form>
<div class="clearfix"></div>


<script type="text/javascript">
    $(document).ready(function () {

        SelectPaymentMethod();

        $('form#frmCheckInPayment #CardExpiryDate').attr("placeholder", "MM/YY");

        //Timepicker
        $('form#frmCheckInPayment #CheckInTimeText').timepicker({
            showInputs: false
        });
                
        //Date picker
        $('#CheckInDate').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });


        //CheckIn
        $('form#frmCheckInPayment .btnCheckInOk').click(function (e) {            
            if (validateCheckIn()) {

                //Ajax request to check in.
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ShowErrorMessage(jqXHR.status, errorThrown);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/FrontDesk/CheckIn")',
                    type: 'POST',
                    data: $('form#frmCheckInPayment').serialize(),
                    success: function (response) {
                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {

                            swal({
                                title: '' + response.data.Name + ' checked in successfully.',
                                type: 'success',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK',
                            }).then((result) => {
                                //Close the modal.
                                $('#checkInPaymentModal').modal('toggle');
                            });

                            searchArrival();
                        }
                    }
                });
                return false;
            }
        });
    });

    //Check In
    function validateCheckIn() {
        var selectedRoomNumbers = $('form#frmCheckInPayment #RoomNumbers').val();
        var selectedRoomIds = $('form#frmCheckInPayment #RoomIds').val();

        var creditCardNo = $('form#frmCheckInPayment #CreditCardNo').val();

        if (IsNullOrEmpty(selectedRoomNumbers) || IsNullOrEmpty(selectedRoomIds)) {
            showToaster("Please select room number", ToasterType.ERROR);
            return false;
        }


        if (!IsNullOrEmpty(creditCardNo) && !IsValidCreditCardNo(creditCardNo)) {
            showToaster("Please enter valid credit card number. It must be 16 digits.", ToasterType.ERROR);
            return false;
        }

        if ($("form#frmCheckInPayment").valid() == false) {
            showToaster("Please fill all the required field first", ToasterType.ERROR);
            return false;
        }

        return true;
    }

    function SelectPaymentMethod() {
        if (!IsNullOrEmpty($('#PaymentMethodId').val())) {
            var paymentMethod = $('#PaymentMethodId option:selected').text();

            var paymentMethodName = paymentMethod;
            if (Contains(paymentMethod, '-')) {
                paymentMethodName = trim(paymentMethod.split('-')[1]);
            }

            if (trim(paymentMethodName) == 'Cash') {
                $('.divCreditCardInfo').hide();
            } else {
                $('.divCreditCardInfo').show();
            }
        }

    }

</script>


<script type="text/javascript" src="~/Scripts/AdminLTE/input-mask/masking-input.js" data-autoinit="true"></script>