@model SuccessHotelierHub.Models.SearchMarketParametersVM
@{
    ViewBag.Title = "Search Market";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE/dataTables.bootstrap.min.css" type="text/css" />
}

@{
    var PagerName = "MarketGrid";
}

<section class="content-header">
    <h1>
        Market <small>List</small>
    </h1>
    <ol class="breadcrumb m-r-xs">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="">Market</li>
        <li class="active">Search</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Market</h3>
            <div class="pull-right box-tools">
                <a href="@Url.Action("Create","Market")"
                   class="btn btn-info btn-sm" style="color: #fff">Add Market</a>
            </div>
        </div>
        <form class="frmMarketList" enctype="multipart/form-data" method="post">
            <div class="box-body box-body-list">
                <div class="searchbox_padding searchBox_Border">
                    <div class="col-xs-12 padding-zero">
                        <div class="col-md-4 col-sm-4 col-xs-12 padding_left padding-right-media form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group mt_25">
                            <button type="button" id="btnSearch" class="btn btn-success m-r-xs" onclick="searchMarket()">Search</button>
                            <button type="button" id="btnClear" class="btn btn-danger" onclick="clearMarket()">Clear</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>



                <div class="col-xs-12 padding-zero m-t-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblMarket">
                            <thead>
                                <tr>
                                    <th>CreatedOn</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-left">
                        @Html.Partial("_Pagination", new SuccessHotelierHub.Models.PaginationVM() { TokenForEnableDisableButtons = PagerName, PageChangeMethod = "MarketGridPageChange" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script type="text/javascript">
    var currentPage = 1;
    var grdMarket;

    $(document).ready(function () {
        setTimeout(InitializeMarketGrid, 200);

        $("input[type='text']").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
    });


    function SearchMarketParameters(d) {
        var name = $('#Name').val();

        d.PageNum = currentPage;
        d.Name = name;
    }

    function MarketGridDataBound(response) {
        if (response.IsSuccess == true) {
            @("PagerDataBound" + PagerName)(response.CurrentPage, response.PageSize, response.TotalRecords);
            return response.data;
        }
        else {
            showToaster(response.ErrorMsg, ToasterType.ERROR);
        }
    }


    function ReloadMarketGrid() {
        grdMarket.ajax.url("@Url.Content("~/Market/Search")").load();
    }

    function MarketGridPageChange(cPage) {
        currentPage = cPage;
        ReloadMarketGrid();
    }


    function InitializeMarketGrid() {
        grdMarket = $('#tblMarket').DataTable({
            serverSide: true,
            ajax: {
                beforeSend: function (xhr) {
                    showLoader();
                },
                error: function (result) {
                    showToaster(result.responseText, ToasterType.ERROR);
                },
                complete: function () {
                    hideLoader();
                },
                url: '@Url.Content("~/Market/Search")',
                data: SearchMarketParameters,
                dataSrc: MarketGridDataBound,
                type: "POST"
            },
            scrollCollapse: true,
            serverSide: true,
            processing: true,
            processing: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'>",
            ordering: true,
            bDestroy: true,
            paging: false,
            searching: false,
            bLengthChange: false,
            info: false,
            columnDefs: [
            {
                targets: 0,
                data: "CreatedOn",
                orderable: true,
                "visible": false
            },
            {
                targets: 1,
                data: "Name",
                orderable: true
            },
            {
                targets: 2,
                data: "IsActive",
                orderable: false,
                render: function (data, type, full, meta) {
                    var isActive = full.IsActive;
                    if (isActive == true) {
                        return "Active";
                    } else {
                        return "In Active";
                    }
                }
            },
            {
                targets: 3,
                data: "Id",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<a href="javascript:void(0);" onclick="GotoMarketEdit(\'' + full.Id + '\')" '
                        + ' class="btn btn-success btn-xs m-r-xs">Edit</a> '
                        + ' <button type="button" class="btn btn-danger btn-xs"'
                        + ' onclick="deleteMarket(this,event,\'' + full.Id + '\')">Delete</button>';
                }
            }
            ],
            order: [[1, "asc"]],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('ID', aData.ID)
            }
        })
    }

    function GotoMarketEdit(Id) {
        var url = '@Url.Content("~/Market/Edit/")' + Id;
        redirectTo(url);
    }

    function searchMarket() {
        currentPage = 1;
        ReloadMarketGrid();
    }

    function clearMarket() {
        $('#Name').val('');

        searchMarket();
    }

    function deleteMarket(item, e, id) {

        swal({
            title: 'Are you sure do you want to delete?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (result) {
                        showToaster(result.responseText, ToasterType.ERROR);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/Market/Delete")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.IsSuccess == true) {

                            var tr = $('#tblMarket  tbody tr#' + id)
                            var row = grdMarket.row(tr);
                            var rowNode = row.node();
                            row.remove();
                            grdMarket.draw();

                            showToaster("Record deleted successfully", ToasterType.SUCCESS);
                        }
                        else {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                    }
                });
            }
        });


    }
</script>


@section scripts {
    <script src="~/Scripts/AdminLTE/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.min.js"></script>
}